{% extends 'base/base.html' %}
{% load static %}

{% block title %} Persons Information {% endblock %}

{% block content %}

    <div class="container-main">

        {% include 'base/sidebar_pj.html' %}

        <!-- ***** Breadcrumb Start ***** -->
        <div class="container-breadcrumb-bar">
            <nav aria-label="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="{% url 'workforce' %}">Workforce</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Persons Information
                </ol>
            </nav>
        </div>
        <!-- ***** Breadcrumb End ***** -->

        <div class="container-tables">
            <!-- ***** Back to the Workforce Page ***** -->
                        <div class="breadcrumb-event-back">
                            <a href="{% url 'workforce' %}" class="btn btn-secondary">
                                <i class="fa fa-angle-left home-icon"></i>
                                <span>Back to Workforce</span></a>
                        </div>
            <!-- ***** Export Files in the CSV, Excel and PDF format ***** -->
                        <div id="exportFile">
                            <a href="{% url 'export-persons-csv' %}" class="btn">
                                <img src="{% static 'assets/img/csv-icon.png' %}" width="55" height="55" alt="CSV Icon"/>
                            </a>
                            <a href="{% url 'export-persons-excel' %}" class="btn">
                                <img src="{% static 'assets/img/excel-icon.png' %}" width="45" height="45" alt="Excel Icon"/>
                            </a>
                            <a href="{% url 'export-persons-pdf' %}" class="btn">
                                <img src="{% static 'assets/img/pdf-icon.png' %}" width="45" height="45" alt="Pdf Icon"/>
                            </a>
                        </div>
            <!-- ***** Search into the fields ***** -->
            <div id="searchTableField">
                <div class="form-group">
                    <i class="bx bx-search"></i>
                    <input type="text" class="form-control"
                           id="searchField" placeholder="Search...">
                </div>
            </div>

            <!-- ***** Workforce data Table ***** -->
            <div id="dataTable">
                {% include 'authentication/_messages.html' %} {% csrf_token %}

                <div class="breadcrumb-add-person">
                    <a href="{% url 'add-person' %}" class="btn">
                        <i class="bx bxs-plus-circle add-icon"></i>
                        Add Person
                    </a>
                </div>


                <div class="app-table">
                    <table class="table table-stripped table-hover">
                        <thead>
                        <tr>
                            <th>Person<br>Name</th>
                            <th>Person Id</th>
                            <th>Age</th>
                            <th>Is internal</th>
                            <th>Institution</th>
                            <th>Department</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>City</th>
                            <th>Country</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <div id="deleteConfirmationModal" class="modal">
                            <div class="modal-content">
                                <span class="close" onclick="closeModal()">&times;</span>
                                <p>Delete Person</p>
                                <hr>
                                <p>Are you sure you want to delete this Record?</p>
                                <p>This action cannot pe undone.</p>
                                <div class="modal-button">
                                    <button id="cancelDeleteBtn" onclick="closeModal()">Cancel</button>
                                    <button id="confirmDeleteBtn" onclick="deletePerson()">Delete</button>
                                </div>
                            </div>
                        </div>
                        {# if user has some workforce in the projects, display the persons informations #}
                        {% if person.count %}
                            {% for person in page_obj %}
                                <tr>
                                    <td>{{ person.person_name }}</td>
                                    <td>{{ person.person_id }}</td>
                                    <td>{{ person.age }}</td>
                                    <td>{{ person.is_internal }}</td>
                                    <td>{{ person.institution }}</td>
                                    <td>{{ person.department }}</td>
                                    <td>{{ person.email }}</td>
                                    <td>{{ person.phone }}</td>
                                    <td>{{ person.city }}</td>
                                    <td>{{ person.country }}</td>
                                    <td>
                                        <a href="{% url 'edit-person' person.id %}"
                                           style="color:gray; font-size:20px">
                                            <i class="fas fa-edit edit-input"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <!-- Delete button which will open the modal window for delete confirmation -->
                                        <button onclick="confirmDelete({{ person.id }})"
                                                style="color:red; font-size:20px; background: none; border: none;">
                                            <i class="fas fa-trash-alt delete-input"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                            </div>

                            <p class="no-results" style="display: none;">No results </p>
                            <div class="table-output">
                            <table class="table table-stripped table-hover">
                            <thead>
                            <tr>
                                <th>Person<br>Name</th>
                                <th>Person Id</th>
                                <th>Age</th>
                                <th>Is internal</th>
                                <th>Institution</th>
                                <th>Department</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>City</th>
                                <th>Country</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="table-body">
                            </tbody>
                        {% endif %}
                        </table>
                        </div>

                <!-- ***** Returns a number of our current page ***** -->
                <div class="pagination-container">
                    <div class="show-page">
                        Showing page {{ page_obj.number }}
                        of {{ page_obj.paginator.num_pages }}
                    </div>
                    <!-- ***** Shows the pagination ***** -->
                    <ul class="show-pagination pagination align-right float-right mr-auto">
                        {% if page_obj.has_previous %}
                            <li {% if page_obj.number == 1 %}
                                class="page-item active" {% endif %}><a
                                    class="page-link" href="?page=1">&laquo; 1</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}
                                &raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="{% static 'assets/js/searchField.js' %}"></script>
    <script src="{% static 'assets/js/deletePerson.js' %}"></script>


{% endblock content %}