{% extends 'base/base.html' %}
{% load static %}

{% block title %} Projects Logistic {% endblock %}

{% block content %}

    <div class="container-main">

        {% include 'base/sidebar_pj.html' %}

        <!-- ***** Breadcrumb Start ***** -->
        <div class="container-breadcrumb-bar">
            <nav aria-label="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="{% url 'projects' %}">Projects</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Logistic
                    </li>
                </ol>
            </nav>
        </div>
        <!-- ***** Breadcrumb End ***** -->

        <div class="container-tables">
            <!-- ***** Back to the Dashboard ***** -->
            <div class="breadcrumb-event-back">
                <a href="{% url 'project-budget' %}" class="btn btn-secondary">
                    <i class="fa fa-angle-left home-icon"></i>
                    <span>Back to Dashboard</span></a>
            </div>
            <!-- ***** Export Files in the CSV, Excel and PDF format ***** -->
            <div id="exportFile">
                <a href="{% url 'export-acquisitions-csv' %}" class="btn">
                    <img src="{% static 'assets/img/csv-icon.png' %}" width="55" height="55" alt="CSV Icon"/>
                </a>
                <a href="{% url 'export-acquisitions-excel' %}" class="btn">
                    <img src="{% static 'assets/img/excel-icon.png' %}" width="45" height="45" alt="Excel Icon"/>
                </a>
                <a href="{% url 'export-acquisitions-pdf' %}" class="btn">
                    <img src="{% static 'assets/img/pdf-icon.png' %}" width="45" height="45" alt="Pdf Icon"/>
                </a>
            </div>
            <!-- ***** Search into the fields ***** -->
            <div id="searchTableField">
                <div class="form-group">
                    <i class="bx bx-search"></i>
                    <input type="text" class="form-control"
                           id="searchField" placeholder="Search...">
                </div>
            </div>

            <!-- ***** Acquisitions data Table ***** -->
            <div id="dataTable">
                {% include 'authentication/_messages.html' %} {% csrf_token %}

                <div class="breadcrumb-event-add">
                    <a href="{% url 'add-acquisition' %}" class="btn">
                        <i class="bx bxs-plus-circle add-icon"></i>
                        Add Acquisition
                    </a>
                </div>

                <div class="app-table">
                    <table class="table table-stripped table-hover">
                        <thead>
                        <tr>
                            <th>Project<br>Name</th>
                            <th>Project<br>Stage</th>
                            <th>Acquisition<br>Name</th>
                            <th>Acquisition<br>Type</th>
                            <th>Document<br>Type</th>
                            <th>Document<br>Series</th>
                            <th>Supplier<br>Name</th>
                            <th>Acquisition<br>Description</th>
                            <th>Acquisition<br>Owner</th>
                            <th>Work Place</th>
                            <th>CPV Code</th>
                            <th>Total Amount<br>with VAT<br>({{ currency }})</th>
                            <th>Date</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <div id="deleteConfirmationModal" class="modal">
                            <div class="modal-content">
                                <span class="close" onclick="closeModal()">&times;</span>
                                <p>Delete Acquisition</p>
                                <hr>
                                <p>Are you sure you want to delete this Record?</p>
                                <p>This action cannot pe undone.</p>
                                <div class="modal-button">
                                    <button id="cancelDeleteBtn" onclick="closeModal()">Cancel</button>
                                    <button id="confirmDeleteBtn" onclick="deleteAcquisition()">Delete</button>
                                </div>
                            </div>
                        </div>
                        {#                        if user has some projects acquisition, then display them#}
                        {% if acquisition.count %}
                            {% for acquisition in page_obj %}
                                <tr {% if acquisition.date < today %} class="expired-acquisition" {% endif %}>
                                    <td>{{ acquisition.project_name.project_name }}</td>
                                    <td>{{ acquisition.project_stage }}</td>
                                    <td>{{ acquisition.acquisition_name }}</td>
                                    <td>{{ acquisition.acquisition_type }}</td>
                                    <td>{{ acquisition.document_type }}</td>
                                    <td>{{ acquisition.document_series }}</td>
                                    <td>{{ acquisition.supplier_name }}</td>
                                    <td>{{ acquisition.acquisition_description }}</td>
                                    <td>{{ acquisition.acquisition_owner }}</td>
                                    <td>{{ acquisition.work_place }}</td>
                                    <td>{{ acquisition.cpv_code }}</td>
                                    <td>{{ acquisition.amount|floatformat:"2" }}</td>
                                    <td>{{ acquisition.date|date:'m/d/Y' }}</td>
                                    <td>
                                        <a href="{% url 'edit-acquisition' acquisition.id %}"
                                           style="color:gray; font-size:20px">
                                            <i class="fas fa-edit edit-input"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <!-- Delete button which will open the modal window for delete confirmation -->
                                        <button onclick="confirmDelete({{ acquisition.id }})"
                                                style="color:red; font-size:20px; background: none; border: none;">
                                            <i class="fas fa-trash-alt delete-input"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                            </div>

                            <p class="no-results" style="display: none;">No results </p>
                            <div class="table-output">
                            <table class="table table-stripped table-hover">
                            <thead>
                            <tr>
                                <th>Project<br>Name</th>
                                <th>Project<br>Stage</th>
                                <th>Acquisition<br>Name</th>
                                <th>Acquisition<br>Type</th>
                                <th>Document<br>Type</th>
                                <th>Document<br>Series</th>
                                <th>Supplier<br>Name</th>
                                <th>Acquisition<br>Description</th>
                                <th>Acquisition<br>Owner</th>
                                <th>Work Place</th>
                                <th>CPV Code</th>
                                <th>Total Amount<br>with VAT<br>({{ currency }})</th>
                                <th>Date</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="table-body">
                            </tbody>
                        {% endif %}
                        </table>
                        </div>

                <!-- ***** Returns a number of our current page ***** -->
                <div class="pagination-container">
                    <div class="show-page">
                        Showing page {{ page_obj.number }}
                        of {{ page_obj.paginator.num_pages }}
                    </div>
                    <!-- ***** Shows the pagination ***** -->
                    <ul class="show-pagination pagination align-right float-right mr-auto">
                        {% if page_obj.has_previous %}
                            <li {% if page_obj.number == 1 %}
                                class="page-item active" {% endif %}><a
                                    class="page-link" href="?page=1">&laquo; 1</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}
                                &raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="color-explanation">
                    <div class="color-circle expired-acquisition"></div>
                    <span>Expired Acquisition </span>
                </div>

            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="{% static 'assets/js/searchField.js' %}"></script>
    <script src="{% static 'assets/js/deleteAcquisition.js' %}"></script>

{% endblock content %}