{% extends 'base/base.html' %}
{% load static %}

{% block title %} Expenses {% endblock %}

<body>
{% block content %}

    {#    Include Sidebar #}


    {#    <h1 style="margin-left: 200px;padding-top: 10px;">Add Expense</h1>#}

<div class="container-main">

    {% include 'base/sidebar.html' %}

    <div class="container-breadcrumb-bar">
        <div class="container-breadcrumb row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="{% url 'income' %}">Income</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Add Income
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="add-income-form">
        <div class="add-form-body" id="addIncomeForm">
        <h4>Add Income Form</h4>
            <form action="{% url 'add-income' %}" method="post" autocomplete="off">
                {% csrf_token %} {% include 'user/_messages.html' %}

            
{#                <div class="form-group">#}
{#                          <label for="exampleFormControlSelect1">Currency</label>#}
{#                          <select class="form-control" name="currency" id="currency" {% if user_preferences.currency%}disabled>#}
{#                            <option name="currency" selected value={{user_preferences.currency}}>{{user_preferences.currency}}</option>#}
{#                            {% else %}#}
{#                             {% for currency in  currencies%}#}
{#                            <option name="currency" value={{currency.name}}>{{currency.name}} - {{currency.value}} </option>#}
{#                            {% endfor %}#}
{#                          {% endif %}>#}
{#                          </select>#}
{#                </div>#}

                <div class="form-group">
                    <label for="">Source</label>
                    <select class="form-control" name="source">
                        {% for source in sources %}
                            <option name="source" value="{{ source.name }}">
                                {{ source.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input type="text" class="form-control form-control-sm"
                           name="description" 
                           value="{{ values.description }}">
                </div>
                <div class="form-group">
                    <label for="">Amount</label>
                    <input type="number" class="form-control form-control-sm"
                           name="amount" value="{{ values.amount }}">
                </div>
                <div class="form-group">
                    <label for="" style="color:black;">Date of Income</label>
                    <input id="date" type="date" 
                           class="form-control form-control-sm"
                           name="income_date" value="{{ values.date }}">
                </div>

                <input type="submit" value="Submit"
                       class="btn btn-primary btn-primary-sm">
            </form>
        </div>
    </div>

</div>


{% endblock content %}
</body>