{% extends 'base/base.html' %}
{% load static %}

{% block title %} Expenses {% endblock %}

{% block content %}

    <div class="container-main">

        {% include 'base/sidebar.html' %}

        <!-- ***** Breadcrumb Start ***** -->
        <div class="container-breadcrumb-bar">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="{% url 'income' %}">Income</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Add Income
                    </li>
                </ol>
            </nav>
        </div>
        <!-- ***** Breadcrumb End ***** -->

        <div class="add-income-form">
            <div class="add-form-body" id="addIncomeForm">
                <h4>Add Income Form</h4>
                <form action="{% url 'add-income' %}" method="post" autocomplete="off">
                    {% csrf_token %} {% include 'user/_messages.html' %}

                    <div class="form-group">
                        <label for="">Source</label>
                        <select class="form-control" name="source">
                            {% for source in sources %}
                                <option name="source" value="{{ source.name }}">
                                    {{ source.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <input type="text" class="form-control form-control-sm"
                               name="description"
                               value="{{ values.description }}">
                    </div>
                    <div class="form-group">
                        <label for="">Amount</label>
                        <input type="number" class="form-control form-control-sm"
                               name="amount" value="{{ values.amount }}">
                    </div>
                    <div class="form-group">
                        <label for="" style="color:black;">Date of Income</label>
                        <input id="date" type="date"
                               class="form-control form-control-sm"
                               name="income_date" value="{{ values.date }}">
                    </div>

                    <input type="submit" value="Submit"
                           class="btn btn-primary btn-primary-sm">
                </form>
            </div>
        </div>

    </div>


{% endblock content %}