{% extends 'base/base.html' %}
{% load static %}

{% block title %} Expenses {% endblock %}

<body>
{% block content %}

    <div class="container-main">
        {% include 'base/sidebar.html' %}

        <div class="container-breadcrumb-bar">
            <div class="container-breadcrumb row">
                <div class="col-md-10">
                    <nav aria-label="breadcrumb-nav">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a
                                    href="{% url 'income' %}">Income</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Edit Income
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>


        <div class="edit-income-form">
            <div class="edit-form-body" id="editIncomeForm">
                <h4>Edit Income</h4>
                <form action="{% url 'edit-income' income.id %}"
                      method="post">
                    {% include 'user/_messages.html' %} {% csrf_token %}
                
                    <div class="form-group">
                        <label for="">Source</label>
                        <select class="form-control" name="source">
                            {% for source in sources %}
                                <option name="source" value="{{ source.name }}">
                                    {{ source.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <input type="text" class="form-control form-control-sm"
                               name="description"
                               value="{{ values.description }}">
                    </div>
                    <div class="form-group">
                        <label for="">Amount</label>
                        <input type="number"
                               class="form-control form-control-sm"
                               name="amount" value="{{ values.amount }}">
                    </div>
                    <div class="form-group">
                        <label for="" style="color:black;">Date of
                            Income</label>
                        <input id="date" type="date" class="form-control form-control-sm"
                               name="income_date" value="{{ values.date}}">
                    </div>

                    <input type="submit" value="Save"
                           class="btn btn-primary btn-primary-sm">
                </form>
            </div>
        </div>

    </div>

{% endblock content %}
</body>