<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Leaflet map CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'
          rel='stylesheet'>

    <!-- Datatable CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel='stylesheet'>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/preloader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    
    <!-- ChartJS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>


    <title>BudgetTracking</title>

    <!-- Bootstrap 5.3.0 CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/main-styles.css">
    <link rel="stylesheet" href="/static/assets/css/access-styles.css">
    <link rel="stylesheet" href="/static/assets/css/account-styles.css">
    <link rel="stylesheet" href="/static/assets/css/forms-main.css">
    <link rel="stylesheet" href="/static/assets/css/navbar-styles.css">
    <link rel="stylesheet" href="/static/assets/css/sidebar-styles.css">
    <link rel="stylesheet" href="/static/assets/css/preferences-styles.css">
    <link rel="stylesheet" href="/static/assets/css/table-styles.css">
    <link rel="stylesheet" href="/static/assets/css/animate.css">
    <link rel="stylesheet"
          href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    
</head>

<body>
<header class="header-area">
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
                {% include 'base/homebar.html' %}
            {% else %}
                {% include 'base/menubar.html' %}
            {% endif %}
        </div>
    </div>
</header>

{% block content %} {% endblock content %}

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
    <script src="/static/assets/js/script.js"></script>

</body>
</html>