{% load static %}

<nav class="navbar-container navbar-expand-lg fixed-top">
    <!-- ***** Logo Start ***** -->
    <div class="navbar-logo">
        <a href="{% url 'home' %}">>Budget
            <span class="text-dark">Tracking</span></a>
    </div>
    <!-- ***** Logo End ***** -->

    <!-- ***** Menu Start ***** -->
    <ul class="navbar-menu">
        <ul class="navbar-left-side">
            <!-- right menu -->
            <li><a href="{% url 'home' %}" class="nav-link active-item">Home</a></li>
            <li><a href="{% url 'personal-budget' %}" class="nav-link">Personal Budget</a></li>
            <li><a href="#" class="nav-link">Project Budget</a></li>
        </ul>
        <!-- left menu -->
        <ul class="navbar-right-side">
            <li class="dropdown">
                <a href="." class="nav-link active-item dropdown-toggle"
                   id="drop_cases" role="button" data-bs-toogle="dropdown"
                   data-bs-target=".navbar-dropdown">{{ request.user.username }}</a>

                <ul class="dropdown-menu">
                        <li class="drop-item">
                            <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                        </li>
                        <li class="drop-item">
                            <a href="" class="nav-link">Settings</a>
                        </li>
                </ul>
            </li>
        </ul>
    </ul>


    <!-- ***** Menu End ***** -->
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>