{#{% load static %}#}
{##}
{#<div class="col-12">#}
{#    <nav class="main-nav">#}
{#        <!-- ***** Logo Start ***** -->#}
{#        <a href="../index.html" class="logo">#}
{#            <h1>>Budget<span class="text-dark">Tracking</span></h1>#}
{#        </a>#}
{#        <!-- ***** Logo End ***** -->#}
{#        <!-- ***** Menu Start ***** -->#}
{#        <ul class="nav">#}
{#            <li><a href="{% url 'homepage' %}" class="active">Home</a></li>#}
{#            <li><a href="#">Personal Budget</a></li>#}
{#            <li><a href="#">Project Budget</a></li>#}
{#            <li class="dropdown">#}
{#                <img class="rounded-circle flex-shrink-0" src="/static/assets/img/user.jpg" alt="" style="width: 40px; height: 40px;">#}
{#                <a href="#" class="active dropdown-toggle" id="drop_cases"#}
{#                   role="button" data-bs-toogle="dropdown">User Account</a>#}
{#                <ul class="dropdown-menu">#}
{#                    {% if user.is_authenticated %}#}
{#                        <li class="nav-item">#}
{#                            <a href="{% url 'logout' %}" class="dropdown-item" >Logout</a>#}
{#                        </li>#}
{#                    {% else %}#}
{#                        <li class="nav-item">#}
{#                            <a href="{% url 'signup' %}" class="dropdown-item">Signup</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a href="{% url 'login' %}" class="dropdown-item">Login</a>#}
{#                        </li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </li>#}
{#        </ul>#}
{#        <a class='menu-trigger'>#}
{#            <span>Menu</span>#}
{#        </a>#}
{#        <!-- ***** Menu End ***** -->#}
{#    </nav>#}
{#</div>#}