{% load static %}

<nav class="navbar-container fixed-top">
    <!-- ***** Logo Start ***** -->
    <div class="navbar-logo">
        <a href="{% url 'home' %}">>Budget
            <span class="text-dark">Tracking</span></a>
    </div>
    <!-- ***** Logo End ***** -->

    <!-- ***** Menu Start ***** -->
    <ul class="navbar-menu">
     {% include 'userauthentication/_messages.html' %}
        <ul class="navbar-left-side">
            <!-- right menu -->
            <li><a href="{% url 'home' %}" class="nav-link active-item">Home</a></li>
            <li><a href="" class="nav-link">Personal Budget</a></li>
            <li><a href="" class="nav-link">Project Budget</a></li>
        </ul>
        <!-- left menu -->
        <ul class="navbar-right-side">
            <li class="dropdown">
                {% if user.is_authenticated %}
                <a href="." class="nav-link active-item dropdown-toggle"
                   id="drop_cases" role="button" data-bs-toogle="dropdown"
                   data-bs-target=".navbar-dropdown">{{ request.user.username }}</a>
                {% else %}
                <a href="." class="nav-link active-item dropdown-toggle"
                   id="drop_cases" role="button" data-bs-toogle="dropdown"
                   data-bs-target=".navbar-dropdown">User Account</a>
                {% endif %}

                <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                        <li class="drop-item">
                            <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                        </li>
                    {% else %}
                        <li class="drop-item">
                            <a href="{% url 'signup' %}" class="nav-link">Signup</a>
                        </li>
                        <li class="drop-item">
                            <a href="{% url 'login' %}" class="nav-link">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </ul>
    <!-- ***** Menu End ***** -->

    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>