{% load static %}
<div class="col-12">
    <nav class="main-nav">
        <!-- ***** Logo Start ***** -->
        <a href="../index.html" class="logo">
            <h1>>Budget<span class="text-dark">Tracking</span></h1>
        </a>
        <!-- ***** Logo End ***** -->
        <!-- ***** Menu Start ***** -->
        <ul class="nav">
            <li><a href="../index.html" class="active">Home</a></li>
            <li><a href="#">Personal Budget</a></li>
            <li><a href="#">Project Budget</a></li>
            <li class="dropdown">
                <a href="#" class="active dropdown-toggle" id="drop_cases"
                   role="button" data-bs-toogle="dropdown">User Account</a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a href="#" class="dropdown-item">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a href="{%url 'signup'%}" class="dropdown-item">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a href="../login/" class="dropdown-item">Login</a>
                    </li>
                </ul>
            </li>
        </ul>
        <a class='menu-trigger'>
            <span>Menu</span>
        </a>
        <!-- ***** Menu End ***** -->
    </nav>
</div>