<div class="col-12">
    <nav class="main-nav">
        <!-- ***** Logo Start ***** -->
        <a href="../index.html" class="logo">
            <h1>>Budget<span class="text-dark">Tracking</span></h1>
        </a>
        <!-- ***** Logo End ***** -->
        <!-- ***** Menu Start ***** -->
        <ul class="nav">
            <li><a href="../index.html" class="active">Home</a></li>
            <li><a href="#">Personal Budget</a></li>
            <li><a href="#">Project Budget</a></li>
            <li><a href="#" class="active">User Account</a>
                <ul>
                    <li><a href="#" >Settings</a></li>
                    <li><a href="../user/signup.html">Signup</a></li>
                    <li><a href="#" >Login</a></li>

                </ul>
            </li>
        </ul>
        <a class='menu-trigger'>
            <span>Menu</span>
        </a>
        <!-- ***** Menu End ***** -->
    </nav>
</div>