{% load static %}

<div class="sidebar close" style="background: linear-gradient(85deg, #9c9ca2, #e7e2e2)">

    <ul class="sidebar-menu">
        <li class="sidebar-title">
            <a class="d-flex align-items-center"
               href="{% url 'project-budget' %}" aria-label="">
                 <i class="fa fa-qrcode home-icon"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li class="sidebar-heading">
            <a class="d-flex align-items-center"
               href="" aria-label="">
                <i class="fa fa-usd home-icon"></i>
                <span class="title">BUDGET</span>
            </a>
            <ul class="sidebar-list">
                <li class="side-item">
                    <a class="side-item-link" href="{% url 'projects' %}">
                        <i class="fa fa-folder icon"></i>
                        <span class="item-title">Projects</span>
                    </a>
                </li>
                <li class="side-item">
                    <a class="side-item-link" href="">
                        <i class="fa fa-folder-open icon"></i>
                        <span class="item-title">Project Stages</span>
                    </a>
                </li>
                <li class="side-item">
                    <a class="side-item-link" href="">
                        <i class="fa fa-file icon"></i>
                        <span class="item-title">Logistic</span>
                    </a>
                </li>
                <li class="side-item">
                    <a class="side-item-link" href="">
                        <i class="fa fa-road icon"></i>
                        <span class="item-title">Displacement</span>
                    </a>
                </li>
                <li class="side-item">
                    <a class="side-item-link" href="">
                        <i class="fa fa-users icon"></i>
                        <span class="item-title">Workforce</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidebar-heading">
            <a class="d-flex align-items-center" href=""
               aria-label="">
                <i class="fa fa-area-chart home-icon"></i>
                <span class="title">SUMMARY</span>
            </a>
            <ul class="sidebar-list">
                <li class="side-item">
                    <a class="side-item-link"
                       href="">
                        <i class="fa fa-chart-line icon"></i>
                        <span class="item-title">Expenses Summary</span>
                    </a>
                </li>
                <li class="side-item">
                    <a class="side-item-link" href="">
                        <i class="fa fa-chart-line icon"></i>
                        <span class="item-title">Income Summary</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidebar-heading">
            <a class="d-flex align-items-center" href="{% url 'settings' %}"
               aria-label="">
                <i class="fa fa-cog home-icon"></i>
                <span class="title">SETTINGS</span>
            </a>
            <ul class="sidebar-list">
                <li class="side-item">
                    <a class="side-item-link" href="{% url 'preferences' %}">
                        <i class="fa fa-cogs icon"></i>
                        <span class="item-title">Preferences</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="open-menu">
        <i class="fa fa-angle-left" id="toggleIcon"></i>
    </div>

</div>

<script src="{% static 'assets/js/sidebar.js' %}"></script>