{% load static %}

<nav class="sidebar close col-md-2 d-none d-md-block bg-light">

    <ul class="sidebar-menu">
        <li class="sidebar-title">
            <a class="d-flex align-items-center" href="" aria-label="">
                Dashboard
            </a>
        </li>
        <li class="sidebar-heading">
            <a class="title d-flex align-items-center"
               href="{% url 'personal-budget' %}" aria-label="">
                <i class="fa fa-home icon"></i>
                HOME
            </a>
            <ul class="sidebar-list">
                <li class="side-item">
                    <a class="side-item-link" href="{% url 'expenses' %}">
                        <i class="fa fa-file icon"></i>Expenses
                    </a>
                </li>
                <li class="side-item">
                    <a class="side-item-link" href="{% url 'income' %}">
                        <i class="fa fa-money-bill icon"></i>
                        Income
                    </a>
                </li>
            </ul>
        </li>


        <li class="sidebar-heading">
            <a class="title d-flex align-items-center" href=""
               aria-label="">
                <i class="fa fa-book icon"></i>
                SUMMARY
            </a>
            <ul class="sidebar-list">
                <li class="side-item">
                    <a class="side-item-link"
                       href="{% url 'expenses-summary' %}">
                        <i class="fa fa-chart-line icon"></i>
                        Expenses Summary
                    </a>
                </li>
                <li class="side-item">
                    <a class="side-item-link" href="">
                        <i class="fa fa-chart-line icon"></i>
                        Income Summary
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidebar-heading">
            <a class="title d-flex align-items-center" href=""
               aria-label="">
                <i class="fa fa-cog icon"></i>
                SETTINGS
            </a>
            <ul class="sidebar-list">
                <li class="side-item">
                    <a class="side-item-link" href="{% url 'preferences' %}">
                        <i class="fa fa-chart-line icon"></i>
                        Preferences
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="open-menu">
        <i class="fa fa-angle-left" id="toggleIcon"></i>
    </div>

</nav>

<script src="{% static 'assets/js/sidebar.js' %}"></script>