{% load static %}

<div class="container-sidebar">
    <nav class="sidebar col-md-2 d-none d-md-block bg-light">
        <div class="sidebar-sticky">
            <h3>Dashboard</h3>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center">
                <a class="d-flex align-items-center text-muted"
                   href="{% url 'personal-budget' %}" aria-label="">
                    <i class="fa fa-home"></i><span>HOME</span>
                </a>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-item-link" href="{% url 'expenses' %}">
                        <i class="fa fa-file"></i><span>Expenses</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-link" href="{% url 'income' %}">
                        <i class="fa fa-money-bill"></i><span>Income</span>
                    </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center">
                <a class="d-flex align-items-center text-muted" href=""
                   aria-label="">
                    <i class="fa fa-book"></i><span>SUMMARY</span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-item-link"
                       href="{% url 'expenses-summary' %}">
                        <i class="fa fa-chart-line"></i><span>Expenses Summary</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-link" href="">
                        <i class="fa fa-chart-line"></i><span>Income Summary</span>
                    </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center">
                <a class="d-flex align-items-center text-muted" href=""
                   aria-label="">
                    <i class="fa fa-cog"></i><span>SETTINGS</span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-item-link" href="{% url 'preferences' %}">
                        <i class="fa fa-chart-line"></i><span>Preferences</span>
                    </a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-item-link" href="#">#}
{#                        <i class="fa fa-chart-line"></i>#}
{#                        Account#}
{#                    </a>#}
{#                </li>#}
            </ul>

        </div>
    </nav>
</div>