{% extends 'base/base.html' %}
{% load static %}

{% block title %} Expenses {% endblock %}

<body>
{% block content %}

    <div class="container-main">

        {% include 'base/sidebar.html' %}

        <div class="container-breadcrumb-bar">
            <nav aria-label="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'settings' %}">Settings</a>
                    </li>
                    <li class="breadcrumb-item active"
                        aria-current="page">
                        Preferences
                    </li>
                </ol>
            </nav>
        </div>

        <div class="card-preferences">

            <div class="breadcrumb-event-back">
                <a href="{% url 'personal-budget' %}" class="btn btn-secondary">BACK</a>
            </div>

            <div class="currency-form-body" id="currencyForm">
            <h5>Choose Currency</h5>
                <form class="form-preferences" action="{% url 'preferences' %}" method="post">
                    {% csrf_token %} {% include 'user/_messages.html' %}
                    <div class="input-group">
                        <select class="custom-select" name="currency" id="inputGroupSelect04">
                            {% if user_preferences.currency %}
                                <option name="currency" selected
                                        value="{{ user_currency.currency }}">{{ user_currency.currency }}
                                </option>
                            {% else %}
                                <option name="currency" selected>Choose a currency</option>
                            {% endif %}

                            {% for currency in currencies %}
                                <option class="currency-option" name="currency" value="{{ currency.name }}
                                        - {{ currency.value }}">{{ currency.name }} - {{ currency.value }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" value="Save">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="preferences1"></div>

        </div>
    </div>

{% endblock content %}
</body>
