{% extends 'base/base.html' %}
{% load static %}

{% block title %} Edit Displacement {% endblock %}

{% block content %}

    <div class="container-main">

        {% include 'base/sidebar_pj.html' %}

        <!-- ***** Breadcrumb Start ***** -->
        <div class="container-breadcrumb-bar">
            <nav aria-label="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="{% url 'displacement' %}">Displacement</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Edit Displacement
                    </li>
                </ol>
            </nav>
        </div>
        <!-- ***** Breadcrumb End ***** -->

        <div class="edit-displacement-form">
            <div class="edit-form-body" id="editDisplacementForm">
                <h4>Edit Displacement Form</h4>
                {% if displacement %}
                    <form action="{% url 'edit-displacement' displacement.id %}" method="post">
                        {% include 'authentication/_messages.html' %} {% csrf_token %}

                        <div class="form-group">
                            <!-- Render each field individually -->
                            {% for field in form_displacement %}
                                {% if field.name == 'project_name' %}
                                    <div class="inline-fields project-name">
                                        <label for="projectName">Project Name</label>
                                        <div class="input-group">
                                            <select name="project_name" id="projectName"
                                                    class="form-control project-name-input">
                                                {% for project in projects %}
                                                    {% if project.id == selected_project_id %}
                                                        <option value="{{ project.id }}"
                                                                selected>{{ project.project_name }}</option>
                                                    {% else %}
                                                        <option value="{{ project.id }}">{{ project.project_name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                {% elif field.name == 'project_stage' %}
                                    <div class="inline-fields project-stage">
                                        <label for="projectStage">Project Stage</label>
                                        <div class="input-group">
                                            <select name="project_stage" id="projectStage"
                                                    class="form-control project-stage-input">
                                                {% for project_stage in project_stages %}
                                                    {% if project_stage.id == selected_project_stage_id %}
                                                        <option value="{{ project_stage.id }}"
                                                                selected>{{ project_stage.project_stage }}</option>
                                                    {% else %}
                                                        <option value="{{ project_stage.id }}">
                                                            {{ project_stage.project_stage }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                {% elif field.name == 'work_place' %}
                                    <div class="inline-fields work-place">
                                        <label for="workPlace">Work Place</label>
                                        <div class="input-group">
                                            <input type="text" name="work_place" id="workPlace"
                                                   class="form-control work-place-input"
                                                   value="{% if field.value %}{{ field.value }}{% endif %}">
                                        </div>
                                    </div>
                                {% elif field.name == 'person_name' %}
                                    <div class="inline-fields person-name">
                                        <label for="personName">Person Name</label>
                                        <div class="input-group">
                                            <input type="text" name="person_name" id="personName"
                                                   class="form-control person-name-input"
                                                   value="{% if field.value %}{{ field.value }}{% endif %}">
                                        </div>
                                    </div>

                                {% elif field.name == 'document_series' %}
                                    <div class="inline-fields document-series">
                                        <label for="documentSeries">Document Series</label>
                                        <div class="input-group">
                                            <input type="text" name="document_series" id="documentSeries"
                                                   class="form-control document-series-input"
                                                   value="{% if field.value %}{{ field.value }}{% endif %}">
                                        </div>
                                    </div>
                                {% elif field.name == 'displaced_to' %}
                                    <div class="inline-fields displaced-to">
                                        <label for="displacedTo">Displaced To</label>
                                        <div class="input-group">
                                            <input type="text" name="displaced_to" id="displacedTo"
                                                   class="form-control displaced-to-input"
                                                   value="{% if field.value %}{{ field.value }}{% endif %}">
                                        </div>
                                    </div>
                                {% elif field.name == 'displacement_type' %}
                                    <div class="inline-fields displacement-type">
                                        <label for="displacementType">Displacement Type</label>
                                        <div class="input-group">
                                            <select name="displacement_type" id="displacementType"
                                                    class="form-control displacement-type-input">
                                                {% for type in displacement_type %}
                                                    {% if type == displacement.displacement_type %}
                                                        <option value="{{ type }}" selected>{{ type }}</option>
                                                    {% else %}
                                                        <option value="{{ type }}">{{ type }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                {% elif field.name == 'transportation_mean' %}
                                    <div class="inline-fields transportation-mean">
                                        <label for="transportationMean">Transportation Mean</label>
                                        <div class="input-group">
                                            <input type="text" name="transportation_mean" id="transportationMean"
                                                   class="form-control transportation-mean-input"
                                                   value="{% if field.value %}{{ field.value }}{% endif %}">
                                        </div>
                                    </div>
                                {% elif field.name == 'budget_per_day' %}
                                    <div class="inline-fields budget-per-day">
                                        <label for="budgetPerDay">Budget/Day</label>
                                        <div class="input-group">
                                            <input type="text" name="budget_per_day" id="budgetPerDay"
                                                   class="form-control budget-input"
                                                   value="{{ field.value|default:'0.00' }}">
                                        </div>
                                    </div>
                                {% elif field.name == 'days_no' %}
                                    <div class="inline-fields days-no">
                                        <label for="daysNo">Days No</label>
                                        <div class="input-group">
                                            <input type="number" name="days_no" id="daysNo"
                                                   class="form-control days-no-input"
                                                   value="{% if field.value %}{{ field.value }}{% endif %}">
                                        </div>
                                    </div>
                                {% elif field.name == 'total_budget' %}
                                    <div class="inline-fields total-budget">
                                        <label for="totalBudget">Total Budget</label>
                                        <div class="input-group">
                                            <input type="text" name="total_budget" id="totalBudget"
                                                   class="form-control budget-input"
                                                   value="{{ field.value|default:'0.00' }}">
                                        </div>
                                    </div>
                                {% elif field.name == 'other_expenses_description' %}
                                    <div class="inline-fields other-expenses-description">
                                        <label for="otherExpensesDescription">Other Expenses Description</label>
                                        <div class="input-group">
                                            <input type="text" name="other_expenses_description"
                                                   id="otherExpensesDescription"
                                                   class="form-control other-expenses-description-input"
                                                   value="{% if field.value %}{{ field.value }}{% endif %}">
                                        </div>
                                    </div>
                                {% elif field.name == 'other_expenses_budget' %}
                                    <div class="inline-fields other-expenses-budget">
                                        <label for="otherExpensesBudget">Other Expenses Budget</label>
                                        <div class="input-group">
                                            <input type="text" name="other_expenses_budget" id="otherExpensesBudget"
                                                   class="form-control budget-input"
                                                   value="{{ field.value|default:'0.00' }}">
                                        </div>
                                    </div>
                                {% elif field.name == 'total_amount' %}
                                    <div class="inline-fields total-amount">
                                        <label for="totalAmount">Total Amount</label>
                                        <div class="input-group">
                                            <input type="text" name="total_amount" id="totalAmount"
                                                   class="form-control budget-input"
                                                   value="{{ field.value|default:'0.00' }}">
                                        </div>
                                    </div>
                                {% elif field.name == 'start_date' %}
                                    <div class="inline-fields displacement-date">
                                        <label for="startDate">Start Date</label>
                                        <div class="input-group">
                                            <input type="date" name="start_date" id="startDate"
                                                   class="form-control" value="{{ start_date|date:'Y-m-d' }}">
                                        </div>
                                    </div>
                                {% elif field.name == 'end_date' %}
                                    <div class="inline-fields displacement-date">
                                        <label for="endDate">End Date</label>
                                        <div class="input-group">
                                            <input type="date" name="end_date" id="endDate"
                                                   class="form-control" value="{{ end_date|date:'Y-m-d' }}">
                                        </div>
                                    </div>
                                {% else %}
                                    <div>
                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                {% endif %}
                                <!-- Render field errors if any -->
                                {% for error in field.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            {% endfor %}

                            <div class="update-button-field">
                                <a href="{% url 'displacement' %}"
                                   class="btn btn-cancel btn-outline-secondary">Cancel</a>
                                <input type="submit" value="Submit"
                                       class="btn btn-primary btn-primary-sm">
                            </div>
                        </div>
                    </form>
                {% endif %}

            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="{% static 'assets/js/automaticTotalBudget.js' %}"></script>
    <script src="{% static 'assets/js/automaticTotalAmount.js' %}"></script>
    <script src="{% static 'assets/js/budgetValue.js' %}"></script>

    <script>
        const displacementTypeSelect = document.getElementById('displacementType');

        displacementTypeSelect.addEventListener('change', function () {
            const selectedOption = displacementTypeSelect.options[displacementTypeSelect.selectedIndex];
            const selectedClass = selectedOption.getAttribute('class');

            displacementTypeSelect.querySelectorAll('option').forEach(option => {
                option.classList.remove('selected');
            })
            selectedOption.classList.add('selected');
        });
    </script>


{% endblock content %}