{% extends 'base/base.html' %}
{% load static %}

{% block title %} Expenses {% endblock %}

{% block content %}

    <div class="container-main">

        {% include 'base/sidebar.html' %}

        <!-- ***** Breadcrumb Start ***** -->
        <div class="container-breadcrumb-bar">
            <nav aria-label="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="{% url 'income' %}">Income</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Edit Income
                    </li>
                </ol>
            </nav>
        </div>
        <!-- ***** Breadcrumb End ***** -->


        <div class="edit-income-form">
            <div class="edit-form-body" id="editIncomeForm">
                <h4>Edit Income</h4>
                <form action="{% url 'edit-income' income.id %}"
                      method="post">
                    {% include 'authentication/_messages.html' %} {% csrf_token %}

                    <div class="form-group">
                        <label for="source">Source</label>
                        <select class="form-control" name="source" id="source">
                            {% for source in sources %}
                                <option name="source" value="{{ source.name }}">
                                    {{ source.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control form-control-sm"
                               name="description" id="description"
                               value="{{ values.description }}">
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number"
                               class="form-control form-control-sm"
                               name="amount" id="amount" value="{{ values.amount }}">
                    </div>
                    <div class="form-group">
                        <label for="date" style="color:black">
                            Date of Income</label>
                        <input type="date" class="form-control form-control-sm"
                               name="income_date" id="date" value="{{ formatted_date }}">
                    </div>
                    <div class="update-button-field">
                        <a href="{% url 'income' %}" class="btn btn-cancel btn-outline-secondary">Cancel</a>
                        <input type="submit" value="Save"
                               class="btn btn-primary btn-primary-sm">
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock content %}