{% extends 'base/base.html' %}
{% load static %}

{% block title %} User Income {% endblock %}

{% block content %}

    <div class="container-main">

        {% include 'base/sidebar.html' %}

        <!-- ***** Breadcrumb Start ***** -->
        <div class="container-breadcrumb-bar">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="{% url 'budget-main' %}">Budget</a>
                    </li>
                    <li class="breadcrumb-item active"
                        aria-current="page">
                        Income
                    </li>
                </ol>
            </nav>
        </div>
        <!-- ***** Breadcrumb End ***** -->

        <div class="container-tables">
            <!-- ***** Back to the Dashboard ***** -->
            <div class="breadcrumb-event-back">
                <a href="{% url 'personal-budget' %}" class="btn btn-secondary">
                    <i class="fa fa-angle-left home-icon"></i>
                    <span>Back to Dashboard</span></a>
            </div>
            <!-- ***** Export Table in the CSV, Excel and PDF format ***** -->
            <div id="exportFile">
                <a href="{% url 'export-income-csv' %}" class="btn">
                    <img src="{% static 'assets/img/csv-icon.png' %}" width="55" height="55" alt="CSV Icon"/>
                </a>
                <a href="{% url 'export-income-excel' %}" class="btn">
                    <img src="{% static 'assets/img/excel-icon.png' %}" width="45" height="45" alt="Excel Icon"/>
                </a>
                <a href="{% url 'export-income-pdf' %}" class="btn">
                    <img src="{% static 'assets/img/pdf-icon.png' %}" width="45" height="45" alt="Pdf Icon"/>
                </a>
            </div>
            <!-- ***** Search into the fields ***** -->
            <div id="searchTableField">
                <div class="form-group">
                    <i class="bx bx-search"></i>
                    <input type="text" class="form-control"
                           id="searchField" placeholder="Search...">
                </div>
            </div>

            <!-- ***** Income data Table ***** -->
            <div id="dataTable">
                {% include 'authentication/_messages.html' %}

                <div class="breadcrumb-event-add">
                    <a href="{% url 'add-income' %}" class="btn">
                        <i class="bx bxs-plus-circle add-icon"></i>
                        Add Income
                    </a>
                </div>

                <div class="app-table">
                    <table class="table table-stripped table-hover">
                        <thead>
                            <tr>
                                <th>Source</th>
                                <th>Description</th>
                                <th>Amount<br>({{ currency }})</th>
                                <th>Date</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <div id="deleteConfirmationModal" class="modal">
                            <div class="modal-content">
                                <span class="close" onclick="closeModal()">&times;</span>
                                <p>Delete Income</p>
                                <hr>
                                <p>Are you sure you want to delete this Record?</p>
                                <p>This action cannot be undone.</p>
                                <div class="modal-button">
                                    <button id="cancelDeleteBtn" onclick="closeModal()">Cancel</button>
                                    <button id="confirmDeleteBtn" onclick="deleteIncome()">Delete</button>
                                </div>
                            </div>
                        </div>
                        {# if user has some incomes, then display them #}
                        {% if income.count %}
                            {% for income in page_obj %}
                                <tr>
                                    <td>{{ income.source }}</td>
                                    <td>{{ income.description }}</td>
                                    <td>{{ income.amount|floatformat:"2" }}</td>
                                    <td>{{ income.date|date:'m/d/Y' }}</td>
                                    <td>
                                        <a href="{% url 'edit-income' income.id %}"
                                           class="btn btn-secondary btn-sm">Edit</a>
                                    </td>
                                    <td>
                                        <!-- Delete button which will open the modal window for delete confirmation -->
                                        <button onclick="confirmDelete({{ income.id }})" class="btn btn-danger btn-sm"
                                            >Delete
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <p class="no-results" style="display: none;">No results </p>
                <div class="table-output">
                    <table class="table table-stripped table-hover">
                        <thead>
                            <tr>
                                <th>Source</th>
                                <th>Description</th>
                                <th>Amount<br>({{ currency }})</th>
                                <th>Date</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                        </tbody>
                        {% endif %}
                    </table>
                </div>

                <!-- ***** Returns a number of our current page ***** -->
                <div class="pagination-container">
                    <div class="show-page">
                        Showing page {{ page_obj.number }}
                        of {{ page_obj.paginator.num_pages }}
                    </div>
                    <!-- ***** Shows the pagination ***** -->
                    <ul class="show-pagination pagination align-right float-right mr-auto">
                        {% if page_obj.has_previous %}
                            <li {% if page_obj.number == 1 %}
                                class="page-item active" {% endif %}><a
                                    class="page-link" href="?page=1">&laquo; 1</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}
                                &raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>

            <!-- ***** Income Charts ***** -->
            <div class="chart-container1" id="Chart1">
                <h6>Income Source Distribution<br>(last 6 months)</h6>
                <hr>
                <canvas id="incomeSourceChart"></canvas>
            </div>
            <div class="chart-container2" id="Chart2">
                <h6>Income Source Comparison/days<br>(last 4 months)</h6>
                <hr>
                <canvas id="monthsIncomeChart"></canvas>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="{% static 'assets/js/searchIncome.js' %}"></script>
    <script src="{% static 'assets/js/deleteIncome.js' %}"></script>

    <!-- Chart Scripts -->
    <script src="{% static 'assets/js/statsIncome.js' %}"></script>
    <script src="{% static 'assets/js/monthsIncome.js' %}"></script>

{% endblock content %}