/*
---------------------------------------------
Charts Style
---------------------------------------------
*/

.chartBox {
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 70px;
    margin-left: 230px;
    margin-bottom: 100px;
    width: 70%;
    min-height: 200px;
}

.chartBox .box {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08) ;
    border-radius: 20px;
}

#dashboard {
    margin-left: 70px;
}

.dashboard-section {
    margin-left: 170px;
}

.dashboard-column {
    padding-top: 20px;
    width: 270px;
}

.dashboard-column .card {
    width: 100%;
}

/*.canvas-chart {*/
/*    margin: 100px 50px 100px 100px;*/
/*}*/

/*.canvas-chart canvas #expensesCategoryChart {*/
/*    !*aspect-ratio: auto 100 / 100;*!*/
/*    height: 100px;*/
/*    width: 100px;*/
/*}*/


@media (max-width: 991px) {
    .chartBox {
        grid-template-columns: 1fr;
        height: auto;
    }

}
