/*
---------------------------------------------
Container Projects Pages Style
---------------------------------------------
*/

.color-explanation {
    margin-top: 20px;
}

.color-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 10px;
}

.ongoing-project {
    background-color: lightgreen;
}

.ending-soon-project {
    background-color: #f6c446;
}

.expired-project {
    background-color: #bebebe;
}


/*
---------------------------------------------
ADD Project Form
---------------------------------------------
*/

.add-project-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 10px 60px 60px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

/*#addProjectForm {*/
/*    flex: 1;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

#addProjectForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

.add-project-form .inline-fields {
    margin-bottom: 10px;
}

.add-project-form .form-group {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}

.institution,
.project-name,
.project-title,
.project-stages,
.project-manager,
.project-funder,
.project-contract,
.project-type,
.project-budget {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}


.project-name .input-group {
    width: 50%;
    text-align: center;
    align-content: center;
}

.project-name input[type="text"] {
    text-transform: uppercase;
}

.project-title .input-group {
    width: 88%;
    text-align: center;
    align-content: center;
}

.project-type label {
    padding-top: 5px;
}

.project-budget label {
    padding-top: 30px;
}

.institution #institution,
.project-name #projectName,
.project-title #projectTitle,
.project-funder #funder,
.project-contract #contract {
    margin-left: 10px;
    width: 100%;
    font-weight: 400;
    border-radius: 6px;
}

/*.project-name #projectName,*/
.project-manager #projectManager {
    margin-left: 10px;
    width: 60%;
    font-weight: 400;
    border-radius: 6px;
}

.project-stages .input-group {
    margin-left: 10px;
    width: 20%;
    font-weight: 400;
    border-radius: 6px;
}

.project-stages input[type="number"] {
    text-align: center;
}

.project-manager .input-group {
    width: 83%;
    text-align: center;
    align-content: center;
}

.project-type .input-group {
    width: 180px;
    margin-left: 10px;
    text-align: center;
    align-content: center;
}

.project-type option {
    text-align: center;
}

.project-budget .input-group {
    width: 500px;
    margin-left: 10px;
    padding-top: 10px;
}

.project-date {
    display: flex;
    align-items: center;
}

.project-date .input-group {
    width: auto;
    padding-right: 20px;
    margin-left: 10px;
}

.project-date .input-group:last-child {
    padding-top: 10px;
    padding-right: 60px;
}

/*
---------------------------------------------
Project Types Element Selection
---------------------------------------------
*/

/*.project-type-select option.project-type-option-2 {*/
/*    background-color: #f1d898;*/
/*}*/

/*.project-type-select option.project-type-option-3 {*/
/*    background-color: rgb(145, 180, 250);*/
/*}*/

/*.project-type-select option.project-type-option-4 {*/
/*    background-color: #6adc6a;*/
/*}*/

/*
---------------------------------------------
Edit Project Form
---------------------------------------------
*/

.edit-project-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px 10px 10px 10px;
    padding: 20px 20px 400px 20px;
    margin-top: 10px;
    margin-bottom: 21px;
    margin-left: 210px;
    width: 70%;
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 587px;
    gap: 20px;
    grid-template-areas:
        "editProjectForm";
}

#editProjectForm {
    grid-area: editProjectForm;
}

#editProjectForm h4 {
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}


/*
---------------------------------------------
ADD Project Stage Form
---------------------------------------------
*/

.add-project-stage-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 10px 60px 60px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#addProjectStageForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

.add-project-stage-form .inline-fields {
    margin-bottom: 10px;
}

.add-project-stage-form .form-group {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}

.project-name,
.project-stage-name,
.budget-forecast,
.reimbursed-amount {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.project-name {
    text-align: center;
}

.project-name label {
    padding-bottom: 10px;
}

.project-stage-name label {
    margin-top: 20px;
}

.budget-forecast label,
.reimbursed-amount label {
    padding-top: 20px;
}

.project-name .input-group,
.project-stage-name .input-group {
    margin-left: 10px;
    width: 50%;
    font-weight: 400;
    border-radius: 6px;
}

.project-stage-name input[type="text"] {
    text-align: center;
}

.budget-forecast .input-group,
.reimbursed-amount .input-group {
    width: 500px;
    margin-left: 10px;
}

.project-date {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.project-date label {
    padding-top: 10px;
}

.project-date .input-group {
    width: auto;
    padding-right: 20px;
    margin-left: 10px;
}

.project-date .input-group:last-child {
    padding-top: 10px;
    padding-right: 60px;
}


/*
---------------------------------------------
Edit Project Stage Form
---------------------------------------------
*/

.edit-project-stage-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 10px 60px 60px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#editProjectStageForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

/*
---------------------------------------------
ADD Acquisition Form - Logistic
---------------------------------------------
*/

.add-acquisition-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 10px 60px 60px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#addAcquisitionForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

.add-acquisition-form .inline-fields {
    margin-bottom: 10px;
}

.add-acquisition-form .form-group {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}

.project-name,
.project-stage,
.acquisition-name,
.acquisition-type,
.document-type,
.document-series,
.supplier-name,
.acquisition-description,
.acquisition-owner,
.amount {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.project-name-input,
.project-stage-input {
    text-align: center;
}

.project-name label {
    padding-bottom: 10px;
}

.project-stage label {
    padding-top: 5px;
}

.acquisition-type label {
    padding-top: 5px;
}

.document-type label,
.document-series label,
.supplier-name label,
.acquisition-description label,
.acquisition-owner label {
    margin-top: 20px;
}

.amount label {
    padding-top: 20px;
}

.project-name .input-group,
.project-stage .input-group {
    margin-left: 10px;
    width: 50%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}

.acquisition-name label {
    padding-top: 20px;
}

.acquisition-name .input-group,
.acquisition-owner .input-group {
    margin-left: 10px;
    width: 80%;
    font-weight: 400;
}

.acquisition-type .input-group,
.document-type .input-group,
.document-series .input-group {
    margin-left: 10px;
    width: 81%;
    font-weight: 400;
}

.supplier-name .input-group {
    margin-left: 10px;
    width: 83%;
    font-weight: 400;
}

.acquisition-description .input-group {
    margin-left: 10px;
    width: 75%;
    font-weight: 400;
}

.amount .input-group {
    width: 500px;
    margin-left: 10px;
}

.acquisition-date {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.acquisition-date label {
    padding-top: 10px;
}

.acquisition-date .input-group {
    width: auto;
    padding-right: 20px;
    margin-left: 10px;
}



/* ---------------- MEDIA QUERIES ----------------*/

/*make it responsive to all devices*/

@media (max-width: 1240px) {
    .add-project-form, .edit-project-form {
        margin-left: 120px;
        width: 80%;
    }
}

@media (max-width: 1100px) {
    .add-project-form, .edit-project-form {
        margin-left: 100px;
        width: 80%;
    }
}

@media (max-width: 1000px) {
    .add-project-form, .edit-project-form {
        margin-left: 70px;
        width: 80%;
    }
}

@media (max-width: 800px) {
    .add-project-form, .edit-project-form {
        margin-left: 50px;
        width: 80%;
    }
}

@media (max-width: 680px) {
    .add-project-form, .edit-project-form {
        margin-left: 40px;
        width: 80%;
    }
}