/*
---------------------------------------------
Container Projects Pages Style
---------------------------------------------
*/

.color-explanation {
    margin-top: 20px;
}

.color-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 10px;
}

.ongoing-project {
    background-color: lightgreen;
}

.ending-soon-project {
    background-color: #f6c446;
}

.expired-project {
    background-color: #bebebe;
}


/*
---------------------------------------------
ADD Project Form
---------------------------------------------
*/

.add-project-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px 10px 10px 10px;
    padding: 20px 20px 400px 20px;
    margin-top: 10px;
    margin-bottom: 21px;
    margin-left: 210px;
    width: 70%;
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 587px;
    gap: 20px;
    grid-template-areas:
        "addProjectForm";
}

#addProjectForm {
    grid-area: addProjectForm;
}

#addProjectForm h4 {
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

.project-funder,
.project-contract {
    display: flex;
    text-align: center;
    width: 80%;
    justify-content: space-around;
}

.project label {
    margin-top: 20px;
}

.project-type label {
    margin-top: 10px;
}
.project-manager label,
.project-funder label,
.project-contract label {
    margin-top: 20px;
}

.project-budget label {
    margin-bottom: 10px;
}

.institution #id_institution,
.project-title #id_project_title,
.project-funder #id_funder,
.project-contract #id_contract {
    margin-left: 10px;
    width: 100%;
    font-weight: 400;
    border-radius: 6px;
}

.project {
    display: flex;
    width: 50%;
    text-align: center;
}

.project input[type="text"] {
    text-transform: uppercase;
}

.project #id_project,
.project-manager #id_project_manager {
    margin-left: 10px;
    width: 60%;
    font-weight: 400;
    border-radius: 6px;
}

.project-stages #id_project_stages {
    margin-left: 10px;
    width: 8%;
    font-weight: 400;
    border-radius: 6px;
}

.project-stages input[type="number"] {
    text-align: center;
}

.add-project-form .inline-fields {
    margin-bottom: 10px;
}

.project-type,
.project-budget {
    display: flex;
    align-items: center;
}

.project-type .input-group {
    width: 180px;
    margin-left: 10px;
    text-align: center;
    align-content: center;
}

.project-type option {
    text-align: center;
}

.project-budget .input-group {
    width: 500px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.project-date {
    display: inline-block;
    align-items: center;
    margin-bottom: 20px;
}

.project-date .input-group {
    width: auto;
}

.project-date .input-group:last-child {
    margin-right: 60px;
}

/*
---------------------------------------------
Project Types Element Selection
---------------------------------------------
*/

.project-type-select option.project-type-option-1 {
    background-color: #f1d898;
}
.project-type-select option.project-type-option-2 {
    background-color: rgb(145, 180, 250);
}
.project-type-select option.project-type-option-3 {
    background-color: #6adc6a;
}

/*
---------------------------------------------
Edit Project Form
---------------------------------------------
*/

.edit-project-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px 10px 10px 10px;
    padding: 20px 20px 400px 20px;
    margin-top: 10px;
    margin-bottom: 21px;
    margin-left: 210px;
    width: 70%;
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 587px;
    gap: 20px;
    grid-template-areas:
        "editProjectForm";
}

#editProjectForm {
    grid-area: editProjectForm;
}

#editProjectForm h4 {
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

/*.edit-project-form .inline-fields {*/
/*    margin-bottom: 20px;*/
/*}*/



/* ---------------- MEDIA QUERIES ----------------*/

/*make it responsive to all devices*/

/*@media (max-width: 1240px) {*/

/*    .add-project-form, .edit-expense-form,*/
/*    .add-income-form, .edit-income-form {*/
/*        margin-left: 65px;*/
/*    }*/

/*    #addExpenseForm #date, #editExpenseForm #date,*/
/*    #addIncomeForm #date, #editIncomeForm #date {*/
/*        width: 50%;*/
/*    }*/
/*}*/

/*@media (max-width: 1100px) {*/

/*    .add-expense-form, .edit-expense-form,*/
/*    .add-income-form, .edit-income-form {*/
/*        margin-left: 65px;*/
/*    }*/

/*    #addExpenseForm #date, #editExpenseForm #date,*/
/*    #addIncomeForm #date, #editIncomeForm #date {*/
/*        width: 50%;*/
/*    }*/
/*}*/

/*@media (max-width: 1000px) {*/

/*    .add-expense-form, .edit-expense-form,*/
/*    .add-income-form, .edit-income-form {*/
/*        margin-left: 65px;*/
/*    }*/

/*    #addExpenseForm #date, #editExpenseForm #date,*/
/*    #addIncomeForm #date, #editIncomeForm #date {*/
/*        width: 50%;*/
/*    }*/
/*}*/

/*@media (max-width: 800px) {*/

/*    .add-expense-form, .edit-expense-form,*/
/*    .add-income-form, .edit-income-form {*/
/*        margin-left: 65px;*/
/*    }*/

/*    #addExpenseForm #date, #editExpenseForm #date,*/
/*    #addIncomeForm #date, #editIncomeForm #date {*/
/*        width: 50%;*/
/*    }*/
/*}*/

/*@media (max-width: 680px) {*/
/*    */
/*    .add-expense-form, .edit-expense-form,*/
/*    .add-income-form, .edit-income-form {*/
/*        margin-left: 65px;*/
/*    }*/

/*    #addExpenseForm #date, #editExpenseForm #date,*/
/*    #addIncomeForm #date, #editIncomeForm #date {*/
/*        width: 50%;*/
/*    }*/
/*}*/