/*
---------------------------------------------
Container Projects Pages Style
---------------------------------------------
*/

.color-explanation {
    margin-top: 20px;
}

.color-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 10px;
}

.ongoing-project {
    background-color: lightgreen;
}

.ending-soon-project {
    background-color: #f6c446;
}

.expired-project {
    background-color: #bebebe;
}

.ongoing-project-stage {
    background-color: lightgreen;
}

.ending-soon-project-stage {
    background-color: #f6c446;
}

.expired-project-stage,
.expired-acquisition,
.expired-displacement,
.expired-workforce {
    background-color: #bebebe;
}

/*
---------------------------------------------
ADD Project Form
---------------------------------------------
*/

.add-project-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 30px 60px 30px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#addProjectForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

.add-project-form .inline-fields {
    margin-bottom: 10px;
}

.add-project-form .form-group {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}

.institution,
.project-name,
.project-title,
.project-stages,
.project-manager,
.project-funder,
.project-contract,
.project-type,
.project-budget,
.reimbursed-amount {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}


.project-name .input-group {
    width: 50%;
    text-align: center;
    align-content: center;
}

.project-name input[type="text"] {
    text-transform: uppercase;
}

.project-title .input-group {
    width: 88%;
    text-align: center;
    align-content: center;
}

.project-type label {
    padding-top: 5px;
}

.project-budget label {
    padding-top: 30px;
}

.institution #institution,
.project-name #projectName,
.project-title #projectTitle,
.project-funder #funder,
.project-contract #contract {
    margin-left: 10px;
    width: 100%;
    font-weight: 400;
    border-radius: 6px;
}

.project-manager #projectManager {
    margin-left: 10px;
    width: 60%;
    font-weight: 400;
    border-radius: 6px;
}

.project-stages .input-group {
    margin-left: 10px;
    width: 15%;
    font-weight: 400;
    border-radius: 6px;
}

.project-stages input[type="number"] {
    text-align: center;
}

.project-manager .input-group {
    width: 83%;
    text-align: center;
    align-content: center;
}

.project-type .input-group {
    width: 180px;
    margin-left: 10px;
    text-align: center;
    align-content: center;
}

.project-type option {
    text-align: center;
}

.project-budget .input-group,
.reimbursed-amount .input-group {
    width: 500px;
    margin-left: 10px;
    padding-top: 10px;
}

.project-date {
    display: flex;
    align-items: center;
}

.project-date .input-group {
    width: auto;
    padding-right: 20px;
    margin-left: 10px;
}

.project-date .input-group:last-child {
    padding-top: 10px;
    padding-right: 60px;
}

/*
---------------------------------------------
Project Types Element Selection
---------------------------------------------
*/

/*.project-type-select option.project-type-option-2 {*/
/*    background-color: #f1d898;*/
/*}*/

/*.project-type-select option.project-type-option-3 {*/
/*    background-color: rgb(145, 180, 250);*/
/*}*/

/*.project-type-select option.project-type-option-4 {*/
/*    background-color: #6adc6a;*/
/*}*/

/*
---------------------------------------------
Edit Project Form
---------------------------------------------
*/

.edit-project-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 30px 60px 30px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#editProjectForm {
    grid-area: editProjectForm;
}

#editProjectForm h4 {
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}


/*
---------------------------------------------
ADD Project Stage Form
---------------------------------------------
*/

.add-project-stage-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 30px 60px 30px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#addProjectStageForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

.add-project-stage-form .inline-fields {
    margin-bottom: 10px;
}

.add-project-stage-form .form-group {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}

.project-name,
.project-stage-name,
.budget-forecast,
.reimbursed-amount {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.project-name {
    text-align: center;
}

.project-name label {
    padding-bottom: 10px;
}

.project-stage-name label {
    margin-top: 20px;
}

.budget-forecast label,
.reimbursed-amount label {
    padding-top: 20px;
}

.project-name .input-group,
.project-stage-name .input-group {
    margin-left: 10px;
    width: 50%;
    font-weight: 400;
    border-radius: 6px;
}

.project-stage-name input[type="text"] {
    text-align: center;
}

.budget-forecast .input-group,
.reimbursed-amount .input-group {
    width: 500px;
    margin-left: 10px;
}

.project-date {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.project-date label {
    padding-top: 10px;
}

.project-date .input-group {
    width: auto;
    padding-right: 20px;
    margin-left: 10px;
}

.project-date .input-group:last-child {
    padding-top: 10px;
    padding-right: 60px;
}


/*
---------------------------------------------
Edit Project Stage Form
---------------------------------------------
*/

.edit-project-stage-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 30px 60px 30px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#editProjectStageForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

/*
---------------------------------------------
ADD Acquisition Form - Logistic
---------------------------------------------
*/

.add-acquisition-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 30px 60px 30px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#addAcquisitionForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

.add-acquisition-form .inline-fields {
    margin-bottom: 10px;
}

.add-acquisition-form .form-group {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}

.project-name,
.project-stage,
.acquisition-name,
.acquisition-type,
.document-type,
.document-series,
.supplier-name,
.acquisition-description,
.acquisition-owner,
.work-place,
.cpv-code,
.amount {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.project-name-input,
.project-stage-input {
    text-align: center;
}

.project-name label {
    padding-bottom: 10px;
}

.project-stage label {
    padding-top: 5px;
}

.acquisition-type label {
    padding-top: 5px;
}

.document-type label,
.document-series label,
.supplier-name label,
.acquisition-description label,
.acquisition-owner label {
    margin-top: 20px;
}

.work-place label,
.cpv-code label,
.amount label {
    padding-top: 20px;
}

.project-name .input-group,
.project-stage .input-group {
    margin-left: 10px;
    width: 50%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}

.acquisition-name label {
    padding-top: 20px;
}

.acquisition-name .input-group,
.acquisition-owner .input-group {
    margin-left: 10px;
    width: 80%;
    font-weight: 400;
}

.work-place .input-group {
    margin-left: 10px;
    width: 87%;
    font-weight: 400;
}

.acquisition-type .input-group {
    margin-left: 10px;
    width: 30%;
    font-weight: 400;
}

.acquisition-type .acquisition-type-input {
    text-align: center;
}

.document-type .input-group,
.document-series .input-group {
    margin-left: 10px;
    width: 81%;
    font-weight: 400;
}

.supplier-name .input-group {
    margin-left: 10px;
    width: 83%;
    font-weight: 400;
}

.acquisition-description .input-group {
    margin-left: 10px;
    width: 75%;
    font-weight: 400;
}

.cpv-code .input-group,
.amount .input-group {
    width: 500px;
    margin-left: 10px;
}

.acquisition-date {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.acquisition-date label {
    padding-top: 10px;
}

.acquisition-date .input-group {
    width: auto;
    padding-right: 20px;
    margin-left: 10px;
}


/*
---------------------------------------------
Edit Acquisition Form - Logistic
---------------------------------------------
*/

.edit-acquisition-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 30px 60px 30px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#editAcquisitionForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}



/*
---------------------------------------------
ADD Displacement Form
---------------------------------------------
*/

.add-displacement-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 30px 60px 30px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#addDisplacementForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

.add-displacement-form .inline-fields {
    margin-bottom: 10px;
}

.add-displacement-form .form-group {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}

.institution,
.person-name,
.project-name,
.project-stage,
.document-series,
.displaced-to,
.displacement-type,
.transportation-mean,
.budget-per-day,
.total-budget,
.other-expenses-description,
.other-expenses-budget,
.total-amount,
.days-no {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.project-name-input,
.project-stage-input {
    text-align: center;
}

.person-name label,
.project-name label {
    padding-bottom: 10px;
}

.project-stage label {
    padding-top: 5px;
}

.displacement-type label,
.days-no label {
    padding-top: 5px;
}

.person-name label,
.document-series label,
.displaced-to label {
    margin-top: 20px;
}

.transportation-mean label,
.budget-per-day label,
.total-budget label,
.other-expenses-description label,
.other-expenses-budget label,
.total-amount label {
    padding-top: 20px;
}

.person-name .input-group {
    margin-left: 10px;
    width: 85%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}

.project-name .input-group,
.project-stage .input-group {
    margin-left: 10px;
    width: 50%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}

.displacement-type .input-group {
    margin-left: 10px;
    width: 30%;
    font-weight: 400;
}

.displacement-type .displacement-type-input {
    text-align: center;
}

.document-series .input-group {
    margin-left: 10px;
    width: 80%;
    font-weight: 400;
}

.displaced-to .input-group {
    margin-left: 10px;
    width: 85%;
    font-weight: 400;
}

.transportation-mean .input-group {
    margin-left: 10px;
    width: 77%;
    font-weight: 400;
}

.days-no .input-group {
    margin-left: 10px;
    width: 15%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}

.other-expenses-description .input-group {
    margin-left: 10px;
    width: 70%;
    font-weight: 400;
}


.budget-per-day .input-group,
.total-budget .input-group,
.other-expenses-budget .input-group,
.total-amount .input-group {
    width: 500px;
    margin-left: 10px;
}

.displacement-date {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.displacement-date label {
    padding-top: 10px;
}

.displacement-date .input-group {
    width: auto;
    padding-right: 20px;
    margin-left: 10px;
}

#totalBudget[readonly],
#totalAmount[readonly] {
    background-color: #f0f0f0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
}


/*
---------------------------------------------
Edit Displacement Form
---------------------------------------------
*/

.edit-displacement-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 30px 60px 30px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#editDisplacementForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}


/*
---------------------------------------------
ADD Workforce Form
---------------------------------------------
*/

.add-workforce-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 30px 60px 30px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#addWorkforceForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

.add-workforce-form .inline-fields {
    margin-bottom: 10px;
}

.add-workforce-form .form-group {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}
.project-name,
.project-stage,
.person-work-id,
.person-name,
.person-role,
.salary-per-hour,
.work-days,
.salary-realized,
.vacation-leave-days,
.vacation-reimbursed-amount,
.gross-salary-amount {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.person-role label,
.person-work-id label,
.salary-per-hour label,
.salary-realized label,
.gross-salary-amount label {
    padding-top: 20px;
}

.work-days label,
.vacation-leave-days label {
    padding-top: 5px;
}

.vacation-reimbursed-amount label {
    padding-top: 10px;
}

.person-role .input-group {
    margin-left: 10px;
    width: 86%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}

.vacation-reimbursed-amount .input-group {
    margin-left: 10px;
    width: 95%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}

.work-days .input-group,
.vacation-leave-days .input-group {
    margin-left: 10px;
    width: 15%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}

.person-work-id .input-group,
.salary-per-hour .input-group,
.salary-realized .input-group,
.gross-salary-amount .input-group {
    width: 500px;
    margin-left: 10px;
}

#salaryRealized[readonly],
#vacationReimbursedAmount[readonly],
#grossSalaryAmount[readonly] {
    background-color: #f0f0f0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
}

/*
---------------------------------------------
Edit Workforce Form
---------------------------------------------
*/

.edit-workforce-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 30px 60px 30px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#editWorkforceForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

.edit-workforce-form .form-group {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}

/*
---------------------------------------------
Workforce Person Breadcrumb
---------------------------------------------
*/

.breadcrumb-add-person .btn {
    font-size: 14px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 3px;
}

.breadcrumb-add-person {
    padding: 5px 5px 0 0;
    margin-left: 1000px;
}

.breadcrumb-add-person a {
    min-width: 20px;
    font-weight: 500;
    color: white;
    background: rgba(11, 140, 22, 0.89);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.breadcrumb-person-information .btn {
    padding: 10px 15px 10px 15px;
}

.breadcrumb-person-information {
    padding: 5px 5px 0 0;
}

.breadcrumb-person-information a {
    min-width: 20px;
    font-weight: 500;
    color: white;
    background: #f15b4d;
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.breadcrumb-person-information .info-icon {
    font-size: 24px;
}

.breadcrumb-add-person:hover a {
    transform: scale(1.02);
    color: rgba(11, 140, 22, 0.89);
    border: 1px solid rgba(0, 128, 0, 0.68);
    background: #b6afaf;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.breadcrumb-person-information:hover a {
    transform: scale(1.02);
    border: 1px solid #f15b4d;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}


/*
---------------------------------------------
ADD Person Form
---------------------------------------------
*/

.add-person-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 30px 60px 30px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#addPersonForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

.add-person-form .inline-fields {
    margin-bottom: 10px;
}

.add-person-form .form-group {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}

.person-name,
.person-id,
.age,
.is-internal,
.institution,
.department,
.email,
.phone,
.city,
.country {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.age label,
.is-internal label,
.phone label {
    padding-top: 5px;
}

.person-id label,
.department label,
.email label,
.city label,
.country label {
    padding-top: 20px;
}

.age .age-input,
.is-internal .is-internal-input {
    text-align: center;
}

.age .input-group {
    margin-left: 10px;
    width: 10%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}

.is-internal .input-group {
    margin-left: 10px;
    width: 15%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}

.department .input-group {
    margin-left: 10px;
    width: 95%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}

.person-id .input-group,
.email .input-group {
    margin-left: 10px;
    width: 60%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}

.phone .input-group {
    margin-left: 10px;
    width: 55%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}

.city .input-group {
    margin-left: 10px;
    width: 62%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}

.country .input-group {
    margin-left: 10px;
    width: 58%;
    font-weight: 400;
    border-radius: 6px;
    padding-bottom: 10px;
}


/*
---------------------------------------------
Edit Person Form
---------------------------------------------
*/

.edit-person-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
    margin: 30px 60px 30px 210px;
    width: 70%;
    grid-area: main;

    display: flex;
    flex-direction: column;
}

#editPersonForm h4 {
    margin: 10px 0;
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

.edit-person-form .form-group {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}


/* ---------------- MEDIA QUERIES ----------------*/

/*make it responsive to all devices*/

@media (max-width: 1240px) {
    .add-project-form, .edit-project-form {
        margin-left: 120px;
        width: 80%;
    }
}

@media (max-width: 1100px) {
    .add-project-form, .edit-project-form {
        margin-left: 100px;
        width: 80%;
    }
}

@media (max-width: 1000px) {
    .add-project-form, .edit-project-form {
        margin-left: 70px;
        width: 80%;
    }
}

@media (max-width: 800px) {
    .add-project-form, .edit-project-form {
        margin-left: 50px;
        width: 80%;
    }
}

@media (max-width: 680px) {
    .add-project-form, .edit-project-form {
        margin-left: 40px;
        width: 80%;
    }
}