/*
---------------------------------------------
Signup Form Style
---------------------------------------------
*/

.container-fluid {
  padding: 80px 400px 30px 400px;
  background-color: peru;
  background-image: url(../img/globe-connect.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center ;
  align-items: center;
}

.card {
  background: transparent;
  backdrop-filter: blur(10px);
  padding-top: 10px;
  border: 1px solid #fff;
}

.card h3 {
  color: #fff;
  margin-bottom: 5px;
}

.card .card-body label {
  color: white;
  padding-top: 4px;
}

.card .card-body p {
  color: white;
  font-size: 15px;
  padding-top: 4px;
}

.invalid-feedback {
  color: black;
  background: rgba(180, 245, 128, 0.72);
}

.card-body .showPasswordToggle {
  float: right;
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  cursor: pointer;
  transition: all;
}

.card-body .showPasswordToggle:hover {
  transform: scale(1.2);
}

.card .card-footer {
  padding-top: 10px;
}

input[type='submit'] {
  border: none;
  margin-top: 20px;
  background-color: #49c1a2;
  text-align: center;
}

.card-footer .btn-submit {
  font-size: 18px;
}
.card-footer .btn-cancel {
  color: white;
}

.card .card-terms p {
  color: white;
  text-align: center;
}

/*
---------------------------------------------
Login Form Style
---------------------------------------------
*/


/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button .btn-login:hover {
  opacity: 0.8;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

form {
  padding: 41px;
  justify-content: center;
  align-items: center;
  /*border: 10px;*/
}

.container-log {
  margin-top: 52px;
  padding: 50px 400px 38px 400px;
  /*height: calc(100vh - 55px); !* Subtracting the navbar height *!*/
  background-color: blue;
  background-image: url(../img/glob-connect.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover ;
  justify-content: center ;
  align-items: center;
}

.card-log {
  color: #fff;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

.card-log h3 {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 16px;
}

.card-log .card-form {
  padding-top: 10px;
}

.card-log .input-box {
  position: relative;
  width: 100%;
  height: 95px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 70%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 40px;
}

.input-box input::placeholder {
  color: lightgrey;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(50%);
  font-size: 20px;
}

.card-log .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: white;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
  color: blue;
}

.card-log .btn {
  width: 100%;
  background: #fff;
  color: #333;
  height: 45px;
  outline: none;
  border-radius: 40px;
  border: 1px solid #333;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, .1);*/
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.card-log .cancel-button .btn {
  width: 20%;
  float: right;
  /*margin-left: 250px;*/
  background: #fff;
  height: 38px;
  border-radius: 20px;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.card-log .btn:hover {
  background: rgba(11, 140, 22, 0.89);
}
.card-log .cancel-button .btn:hover {
  background: rgba(205, 214, 217, 0.65);
}

.card-log .register-link p {
  font-size: 15px;
  text-align: center;
  margin: 10px 0 15px;
  color: black;
  padding-bottom: 30px;
}

.register-link a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
  color: blue;
}


/*media*/

@media only screen and (max-width: 1200px) {
  .container-fluid {
    padding: 80px 100px 30px 100px;
  }
  .container-log {
    padding: 50px 100px 50px 100px;
  }
}

@media only screen and (max-width: 860px) {
  .container-fluid {
    padding: 80px 40px 25px 40px;
  }
  .container-log {
    padding: 50px 40px 42px 40px;
  }
  .card-log .cancel-button .btn {
    width: 30%;
  }
}

@media only screen and (max-width: 620px) {
  .card-log .cancel-button .btn {
    width: 30%;
  }
}
