/*
---------------------------------------------
Navbar Style
---------------------------------------------
*/

/* Add header-area styling */

.header-area {
    position: relative;
    background-color: #fff;
    z-index: 1000;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

nav {
    display: flex;
    align-items: center;
}

/* Style the Logo*/

.navbar-logo a {
    padding-left: 20px;
    font-size: 28px;
    text-transform: uppercase;
    color: #f35525;
    font-weight: 700;
    letter-spacing: 3px;
    text-shadow: 0 3px 3px #000;
}

/* First page styling: menubar */

.navbar-container {
    background: #f3f3f3;
    border-bottom: 1px solid #f35525;
    padding-bottom: 10px;
    margin: 0 auto;
    z-index: 1;
    padding-left: 0;
}

.navbar-menu {
    display: flex;
    /*justify-content: space-between;*/
    /*flex-basis: 55%;*/
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 1000;
    margin-left: 320px;
}

/* Style the navbar left and right side*/

.navbar-right-side {
    margin-left: 80px;
}

.navbar-left-side {
    margin-right: 80px;
}

.navbar-left-side, .navbar-right-side {
    line-height: 10px;
    position: relative;
    margin-top: 5px;
}

/* Change li display block to inline block */

.navbar-right-side li, .navbar-left-side li {
    display: inline-block;
}

/* Style the anchor elements */

.navbar-right-side .nav-link, .navbar-left-side .nav-link {
    text-decoration: none;
    display: block;
    /*width: 100%;*/
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    text-transform: capitalize;
    color: #333;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.6s ease 0s;
    letter-spacing: .25px;
}

.navbar-left-side .nav-link {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-left-side .nav-link.active-item {
    color: #f35525;
}

.navbar-right-side .nav-link.active-item {
    color: #f35525;
    background: rgba(246, 241, 241, 0.75);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .3);
    transition: all 0.6s ease 0s;
}

/* Apply hover on anchors */

.navbar-right-side .nav-link:hover, .navbar-left-side .nav-link:hover {
    color: #f35525;
    font-size: 16px;
}

/* Style the dropdown menu */

.dropdown-menu {
    text-align: center;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(246, 241, 241, 0.95);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .3);
    transform: translateY(-10px);
    transition: all 0.6s ease 0s;
    margin-top: 1px;
}

.drop-item {
    border-bottom: 1px solid #0f5132;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
}

.drop-item .nav-link {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    background: #c9c6c6;
    width: 100%;
    font-size: 16px;
}

.drop-item:hover .nav-link {
    background-color: #0d9655;
}

/* Show dropdown menu userauthentication account */

.dropdown {
    position: relative;
    display: none;
    border-radius: 4px 4px 4px 4px;
    line-height: 10px;
    list-style: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
}

.dropdown:hover .dropdown-menu {
    display: block;
    transform: translateY(0px);
    border-bottom: 1px solid #b4b6b5;
}


/*
---------------------------------------------
HAMBURGER
---------------------------------------------
*/

.hamburger {
    position: relative;
    display: none;
    cursor: pointer;
    padding-top: 5px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /*background-color: white;*/
    background: linear-gradient(263deg, rgba(252, 74, 74, 1) 0%, rgba(0, 200, 155, 1) 100%);
}

/*
---------------------------------------------
Navbar Media Style
---------------------------------------------
*/

/* scaling things inside media queries for navbar menu */

@media only screen and (max-width: 1496px) {
    .navbar-container {
        justify-content: space-between;
    }
    .navbar-menu {
        margin-left: 100px;
    }
    .navbar-right-side {
        margin-right: 20px;
    }
    .navbar-left-side {
        padding-right: 0;
    }
    .navbar-left-side .nav-link {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 1300px) {
    .navbar-menu {
        margin-left: 100px;
    }
    .navbar-left-side {
        margin-right: 20px;
    }
    .navbar-left-side .nav-link {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 1260px) {
    .navbar-left-side {
        margin-right: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar-right-side {
        margin-left: 20px;
    }
    .navbar-left-side {
        margin-right: 0;
    }
    .navbar-left-side .nav-link {
        padding-left: 0;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 1100px) {
    .navbar-menu {
        margin-left: 0;
    }
    .navbar-left-side {
        margin-right: 0;
    }
    .navbar-left-side .nav-link {
        padding-left: 0;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 1025px) {
    .navbar-menu {
        margin-left: 0;
    }
    .navbar-left-side .nav-link {
        padding-left: 0;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 978px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-menu {
        position: fixed;
        display: none;
        top: 38px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.001s;
        margin: 15px 0 0 0;
        border-top: 1px solid #e7e2e2;
        background: #f3f3f3;
    }
    .navbar-menu.active {
        display: block;
    }
    .navbar-left-side .nav-link {
        border-bottom: 1px solid #e7e2e2;
    }
    .navbar-right-side li {
        margin: 5px 0;
    }
    .navbar-left-side li {
        margin: 8px 0;
        width: 100%;
    }
    .navbar-left-side, .navbar-right-side {
        margin-top: 0;
    }
        .navbar-left-side {
        padding-right: 0;
    }
}




