/*
---------------------------------------------
Navbar Style
---------------------------------------------
*/

/* Add header-area styling */

.header-area {
    position: relative;
    background-color: #fff;
    height: 80px;
    z-index: 1000;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

/* Style the Logo*/

.navbar-logo a {
    padding-left: 20px;
    font-size: 28px;
    text-transform: uppercase;
    color: #f35525;
    font-weight: 700;
    letter-spacing: 3px;
    text-shadow: 0px 3px 3px #000;
}

/* First page styling: menubar */

.navbar-container {
    background: white;
    /*margin-top: 60px;*/
    border-bottom: 1px solid #f35525;
    /*padding-top: 10px;*/
    padding-bottom: 10px;
    /*display: table;*/
    margin: 0 auto;
    z-index: 1;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 1000;
    margin-right: 80px;
    margin-left: 320px;
}

/* Style the navbar left side*/

.navbar-left-side {
    line-height: 10px;
    position: relative;
}

/* Change li display block to inline block */

.navbar-right-side li, .navbar-left-side li {
    display: inline-block;
}

/* Style the anchor elements */

.navbar-right-side .nav-link, .navbar-left-side .nav-link {
    text-decoration: none;
    display: block;
    /*width: 100%;*/
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    text-transform: capitalize;
    color: #333;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.6s ease 0s;
    letter-spacing: .25px;
}

.navbar-left-side .nav-link  {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-left-side .nav-link.active-item {
    color: #f35525;
}

.navbar-right-side .nav-link.active-item {
    color: #f35525;
    background: rgba(246, 241, 241, 0.75);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .3);
    transition: all 0.6s ease 0s;
}

/* Apply hover on anchors */

.navbar-right-side .nav-link:hover, .navbar-left-side .nav-link:hover {
    color: #f35525;
    font-size: 16px;
}

/* Style the dropdown menu */

.dropdown-menu {
    text-align: center;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(246, 241, 241, 0.95);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .3);
    transform: translateY(-10px);
    transition: all 0.6s ease 0s;
    margin-top: 1px;
}

.drop-item {
    border-bottom: 1px solid #0f5132;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
}

.drop-item .nav-link {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    background: #c9c6c6;
    width: 100%;
}

.drop-item:hover .nav-link {
    background-color: #0d9655;
}

/* Show dropdown menu user account */

.dropdown {
    position: relative;
    display: none;
    border-radius: 4px 4px 4px 4px;
    line-height: 10px;
    list-style: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
}

.dropdown:hover .dropdown-menu {
    display: block;
    transform: translateY(0px);
    border-bottom: 1px solid #b4b6b5;
}


/*
---------------------------------------------
HAMBURGER
---------------------------------------------
*/

.hamburger {
    display: none;
    cursor: pointer;
    padding-top: 5px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /*background-color: white;*/
    background: linear-gradient(263deg, rgba(252,74,74,1) 0%, rgba(0,200,155,1) 100%);
}

/*
---------------------------------------------
Navbar Media Style
---------------------------------------------
*/

/* scaling things inside media queries for navbar menu */

@media only screen and (max-width: 1100px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-menu {
        position: fixed;
        left:-100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.001s;
        margin-top: 15px;
        margin-left: 0px;
        border-top: 1px solid #e7e2e2;
    }

    .navbar-menu.active {
        left: 0;
    }

    .navbar-left-side .nav-link {
        /*background: whitesmoke;*/
        border-bottom: 1px solid #e7e2e2;
    }

    .navbar-right-side li {
        margin: 5px 0;
    }

    .navbar-right-side {
        border-bottom: 1px solid #f3f3f3;
    }

    .navbar-left-side li {
        margin: 8px 0;
        width: 100%;
    }

    .dropdown-menu {
        background: rgba(246, 241, 241, 0.95);
        width: 100%;
    }

    .drop-item {
        margin: 16px 0;
        transition: 0.3s all ease-in-out ;
    }
}

/*@media (max-width: 861px) {*/
/*    .navbar-menu {*/
/*        margin-left: 10px;*/
/*    }*/
/*}*/

/*@media (max-width: 900px) {*/
/*    .navbar-menu {*/
/*        margin-left: 50px;*/
/*    }*/
/*}*/

/*@media (max-width: 1110px) {*/
/*    .navbar-menu {*/
/*        margin-left:60px;*/
/*    }*/
/*}*/

/*@media (max-width: 1200px) {*/
/*    .navbar-menu {*/
/*        margin-left: 50px;*/
/*    }*/
/*}*/



