/*
---------------------------------------------
Preferences Style
---------------------------------------------
*/


.card-preferences {
    /*margin-left: 150px;*/
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 300px 300px;
    gap: 20px;
    grid-template-areas:
        "currencyForm currencyForm"
        "preferences1 preferences2";
}

#currencyForm {
    grid-area: currencyForm;
    background: transparent;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

#preferences1 {
    grid-area: preferences1;
    background: transparent;
    border-radius: 10px;
    padding: 20px;
}

#preferences2 {
    grid-area: preferences2;
    background: transparent;
    border-radius: 10px;
    padding: 20px;
}



.card-preferences h5 {
    color: #49494f;
    margin-left: 20px;
    text-transform: uppercase;
}

.form-preferences {
    padding: 10px 0;
}

.input-group-append {
    margin-left: 0px;
}

.input-group-append button {
    /*margin: 5px 0;*/
    color: #19b619;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .15);
}

.custom-select {
    margin: 5px 0;
    /*padding-right: 700px;*/
    /*padding-right: 200px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .15);
}

.custom-select option {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .15);
    backdrop-filter: blur(20px);
}

.currency-option {
    background: #f3f3f3;
}

/* ---------------- MEDIA QUERIES ----------------*/

/*make it responsive to: Medium size screen <=992 px*/
@media only screen and (min-width: 500px) and (max-width: 1024px) {
    .custom-select {
        padding-right: 0;
    }
}
