/*
---------------------------------------------
Reset Password Style
---------------------------------------------
*/

.container-reset {
  width: 45%;
  margin-top: 100px;
  margin-left: 40px;
  padding: 40px;
  background-color: rgba(217, 213, 210, 0.89);
  backdrop-filter: blur(10px);
  outline: none;
  border: 2px solid rgba(45, 44, 44, 0.2);
  border-radius: 10px;
  justify-content: center ;
  align-items: center;
}

.card-title-reset {
  text-align: center;
}

.input-box-reset {
  padding-bottom: 10px;
}

.input-box-reset input {
  width: 100%;
  height: 70%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(33, 32, 32, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #1f1e1e;
  padding: 20px 45px 20px 40px;
}

.input-box-reset input::placeholder {
  color: #3b3a3a;
}

.card-form-reset button .btn-submit-reset {
  color: #c05757;
}

.card-form-reset .cancel-button {
  float: right;
  padding-top: 20px;
}


/*media*/

@media only screen and (max-width: 1200px) {
  .container-reset {
    width: 55%;
  }
}

@media only screen and (max-width: 860px) {
  .container-reset {
    width: 85%;
  }
}




