/*
---------------------------------------------
Sidebar Style
---------------------------------------------
*/

.sidebar {
    width: 180px;
    position: relative;
    background: linear-gradient(65deg, #d24f17, #e7e2e2);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    border-right: 1px solid #94938f;
    grid-area: side;
    z-index: 2;
}

.sidebar-menu {
    padding-top: 20px;
}

.sidebar-menu .home-icon, .icon {
    display: flex;
    min-width: 10px;
    border-radius: 6px;
    height: 100%;
    font-size: 22px;
    align-items: center;
    justify-content: center;
}

.sidebar-menu .sidebar-title {
    text-transform: uppercase;
    line-height: 10px;
    font-weight: 600;
    border-bottom: 1px solid #fff;
    opacity: 1;
}

.sidebar-title .home-icon {
    color: white;
    margin-right: 15px;
    padding: 5px 0 10px 20px;
    align-items: center;
    justify-content: center;
}

.sidebar-title a {
    color: white;
    font-size: 22px;
    margin: 0 10px 20px 2px;
}

.sidebar-menu .sidebar-heading {
    color: #fff;
    text-align: center;
    margin-top: 30px;
    padding-left: 12px;
    font-size: 1.05rem;
    border-bottom: 1px solid #d24f17;
}

.sidebar-menu .sidebar-heading .title {
    color: white;
    padding-bottom: 10px;
    pointer-events: none;
    opacity: 1;
}

.sidebar-heading .home-icon {
    color: white;
    margin-right: 15px;
    padding: 10px 0 20px 10px;
    align-items: center;
    justify-content: center;
}

.sidebar-menu .side-item {
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top:  1px solid rgba(0,0,0,0.05);
}

.sidebar-menu .side-item-link {
    font-weight: 500;
    color: #1a1d20;
    display: flex;
    align-items: center;
}

.sidebar-menu .side-item:hover .side-item-link {
    color: #fff;
}

.sidebar-list .side-item-link .icon {
    margin-right: 15px;
    padding: 10px 0 10px 10px;
    align-items: center;
}

.sidebar-menu .side-item-link:hover i.fa {
    color: inherit;
}

.sidebar-menu .side-item-link .item-title {
    pointer-events: none;
    opacity: 1;
}

.open-menu {
    display: none;
    cursor: pointer;
    padding-top: 5px;
}

.open-menu #toggleIcon {
    display: inline;
    position: absolute;
    font-size: 22px;
    top: 3%;
    color: white;
    right: -12px;
    /*transform: translateY(-50%);*/
    width: 25px;
    height: 25px;
    background: #fc6222;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    /*transform: rotate(0deg);*/
    transition: all 0.3s ease-in-out;
}

.sidebar:hover .open-menu #toggleIcon {
    transform: rotate(-540deg);
}

/*@supports ((position: -webkit-sticky) or (position: sticky)) {*/
/*  .sidebar-sticky {*/
/*    position: -webkit-sticky;*/
/*    !*position: sticky;*!*/
/*  }*/
/*}*/

/* ---------------- MEDIA QUERIES ----------------*/

/*make it responsive to all devices*/
@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .sidebar.close {
        width: 50px;
    }

    .open-menu {
        display: block;
    }

    .sidebar {
        transition: 0.001s;
    }

    .sidebar:hover {
        display: block;
    }

    .sidebar.close .sidebar-heading .title {
        opacity: 0;
        pointer-events: auto;
    }

    .sidebar.close .sidebar-title  .title {
        opacity: 0;
        pointer-events: auto;
    }

    .sidebar.close .sidebar-menu .side-item-link .item-title {
        opacity: 0;
        pointer-events: none;
    }

    .sidebar.close .sidebar-menu .side-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }
}
    /*.sidebar-heading {*/
    /*    display: none;*/
    /*}*/
/*}*/
    /*.sidebar-title span, .sidebar-heading span, .nav-item-link span {*/
    /*    opacity: 0;*/
    /*}*/
    /*.sidebar-title span:hover, .sidebar-heading span:hover, .nav-item-link span:hover {*/
    /*    opacity: 1;*/
    /*}*/


/*Small <=768 px*/
/*@media screen and (max-width: 768px) {}*/

/*        .toggle {*/
/*        display: block;*/
/*    }*/

/*    .sidebar {*/
/*        left:-19%;*/
/*        !*display: block;*!*/
/*        display: none;*/
/*        transition: 0.001s;*/
/*    }*/
/*    .sidebar:hover {*/
/*        left: 0;*/
/*        display: block;*/
/*    }*/
/*}*/


/*@media screen and (max-width: 600px) {*/
/*        .toggle {*/
/*        display: block;*/
/*    }*/

/*    .sidebar {*/
/*        left:-19%;*/
/*        !*display: block;*!*/
/*        display: none;*/
/*        transition: 0.001s;*/
/*    }*/
/*    .sidebar:hover {*/
/*        left: 0;*/
/*        display: block;*/
/*    }*/
/*}*/

/*!*Extra Small <=567 px*!*/
/*@media screen and (max-width: 567px) {*/
/*        .toggle {*/
/*        display: block;*/
/*    }*/

/*    .sidebar {*/
/*        left:-19%;*/
/*        !*display: block;*!*/
/*        display: none;*/
/*        transition: 0.001s;*/
/*    }*/
/*    .sidebar:hover {*/
/*        left: 0;*/
/*        display: block;*/
/*    }*/
/*}*/



