/*
---------------------------------------------
Container pages Style
---------------------------------------------
*/

.container-main {
    box-sizing: content-box;
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "side header"
        "side main";
    grid-auto-flow: dense;
    width: 99%;
    /*height: 100vh;*/
    /*gap: 20px;*/
    /*padding-top: 55px;*/
    /*position: absolute;*/
    /*min-height: 100vh;*/
    padding: 52px 7px 0 0;
    /*left: 180px;*/
    background: transparent;
}

/*
---------------------------------------------
BREADCRUMB BAR Styles
---------------------------------------------
*/

/*.container-breadcrumb-bar {*/
/*    !*background-color: rgba(204, 198, 198, 0.9);*!*/
/*    !*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);*!*/
/*    grid-area: header;*/
/*    margin-right: 10px;*/
/*}*/

.breadcrumb {
    /*background-color: rgba(204, 198, 198, 0.9);*/
    padding: 10px 10px;
    margin: 5px 0 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.breadcrumb-item {
    color: #444;
}

.breadcrumb-event-add .btn {
    font-size: 14px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 3px;
}

.breadcrumb-event-add, .breadcrumb-event-delete{
    padding: 5px 5px 0 0;
    margin-left: 1000px;
}

.breadcrumb-event-add a {
    min-width: 20px;
    font-weight: 500;
    color: white;
    background:  darkblue;
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.breadcrumb-event-add:hover a {
    transform: scale(1.02);
    color: blue;
    border: 1px solid blue;
    background: #b6afaf;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

/*
---------------------------------------------
Container DASHBOARD
---------------------------------------------
*/

.container-dashboard{
    background: transparent;
    padding-top: 20px;
    padding-left: 70px;
    width: 100%;
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 50px;
    gap: 20px;
    grid-template-areas:
        "dashboardMain1 dashboardMain2 dashboardMain3";
}

#dashboardMain1 {
    grid-area: dashboardMain1;
    background: transparent;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

#dashboardMain1 .card {
    background: rgba(99, 196, 107, 0.89);
    padding-top: 10px;
}

#dashboardMain1 .card .card-header {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
}

#dashboardMain1 .card .card-body {
    background: rgba(215, 238, 243, 0.44);
}

#dashboardMain1 .card .card-body:nth-child(2),
#dashboardMain1 .card .card-body:nth-child(3) {
    margin-bottom: 5px;
}

#dashboardMain1 .card .card-body .card-text {
    color: white;
    font-size: 18px;
}

#dashboardMain2 {
    grid-area: dashboardMain2;
    background: transparent;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

#dashboardMain2 .card {
    background: #f6c446;
    padding-top: 10px;
}

#dashboardMain2 .card .card-header {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
}

#dashboardMain2 .card .card-body {
    background: rgba(215, 238, 243, 0.44);
}

#dashboardMain2 .card .card-body:nth-child(2),
#dashboardMain2 .card .card-body:nth-child(3) {
    margin-bottom: 5px;
}

#dashboardMain2 .card .card-body .card-text {
    color: white;
    font-size: 18px;
}

#dashboardMain3 {
    grid-area: dashboardMain3;
    background: transparent;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

#dashboardMain3 .card {
    background: #2db6bb;
    padding-top: 10px;
}

#dashboardMain3 .card .card-header {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
}

#dashboardMain3 .card .card-body:nth-child(2) {
    background: rgba(215, 238, 243, 0.44);
    margin-bottom: 5px;
}

#dashboardMain3 .card .card-body .card-text {
    color: white;
    font-size: 18px;
}

#dashboardMain1 .fa.fa-main,
#dashboardMain2 .fa.fa-main,
#dashboardMain3 .fa.fa-main {
    position: absolute;
    padding-left: 170px;
    font-size: 80px;
    color: rgba(81, 82, 81, 0.29);
    transform: translateY(-70%);
}

#dashboardMain1 .bx.bx-card,
#dashboardMain2 .bx.bx-card,
#dashboardMain3 .bx.bx-card {
    position: absolute;
    padding-left: 190px;
    font-size: 40px;
    color: rgba(81, 82, 81, 0.29);
    transform: translateY(-70%);
}

#dashboardMain1 .card:hover,
#dashboardMain2 .card:hover,
#dashboardMain3 .card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

#dashboardMain1 .card .card-header:hover span,
#dashboardMain2 .card .card-header:hover span,
#dashboardMain3 .card .card-header:hover span {
    transform: scale(1.10);
    font-size: 34px;
    text-shadow: 0 1px 1px #000;
    color: #b2b2b2;
}

#dashboardMain1 .card .card-body:hover,
#dashboardMain2 .card .card-body:hover,
#dashboardMain3 .card .card-body:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.6);
}

/*
---------------------------------------------
Container DASHBOARD
---------------------------------------------
*/

.container-budget {
    background: transparent;
    padding-top: 20px;
    padding-left: 70px;
    width: 100%;
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 50px;
    gap: 20px;
    grid-template-areas:
        "budgetCardExpenses budgetCardIncome";
}


/*
---------------------------------------------
ADD Expense
---------------------------------------------
*/

.add-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    width: 99%;
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-template-areas:
        "addForm";
}

#addForm {
    grid-area: addForm;
}

#addForm h4 {
    font-size: 28px;
    margin-top: 10px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

#addForm .form-group label {
    padding-top: 5px;
}
#addForm #date {
    width: 20%;
}


/*
---------------------------------------------
Export Files and Search Field Styles
---------------------------------------------
*/

#searchField {
    width: 90%;
    font-size: 16px;
    padding: 5px 0 5px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.container-tables .bx.bx-search {
    position: absolute;
    padding-left: 5px;
    font-size: 18px;
    transform: translateY(110%);
}

/*
---------------------------------------------
Edit Expense
---------------------------------------------
*/

.edit-form {
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    width: 99%;
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-template-areas:
        "editForm";
}
#editForm h4 {
    font-size: 28px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: #b2b2b2;
}

#editForm .form-group label {
    padding-top: 5px;
}

#editForm #date {
    width: 20%;
}

/*
---------------------------------------------
Container Expenses page
---------------------------------------------
*/

.container-tables {
    background: transparent;
    margin-top: 10px;
    padding: 30px;
    width: 100%;
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 500px;
    gap: 20px;
    grid-template-areas:
        "exportFile searchTableField"
        "expensesTable expensesTable"
        "Chart1 Chart2";
}

#exportFile {
    grid-area: exportFile;
    border-radius: 10px;
    padding-top: 5px;
}

#searchTableField {
    grid-area: searchTableField;
    border-radius: 10px;
    padding: 0 20px 0 200px;
}

#expensesTable {
    grid-area: expensesTable;
    background: transparent;
}

#Chart1 {
    grid-area: Chart1;
    background: #fff;
    border-radius: 10px;
    padding: 20px 10px 80px 20px;
    margin-bottom: 60px;
    width: 80%;
    text-align: center;
    box-shadow: 0 7px 25px rgba(0,0,0,0.8);
}

#Chart2 {
    grid-area: Chart2;
    background: #fff;
    border-radius: 10px;
    padding: 20px 10px 80px 20px;
    /*margin-left: 20px;*/
    width: 90%;
    text-align: center;
    box-shadow: 0 7px 25px rgba(0,0,0,0.8);
}

#Chart1:hover, #Chart2:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.chart-container1, .chart-container2 {
    position: relative;
    width: 500px;
    height: 500px;
}

/*
---------------------------------------------
Expenses Table
---------------------------------------------
*/

.table-head {
    background-color: rgba(243, 217, 91, 0.89);
    text-align: center;
}

.table-body {
    text-align: center;
}

.app-table {
    padding-top: 20px;
}


/*
---------------------------------------------
Container SUMMARY GENERAL - Charts
---------------------------------------------
*/

.container-summary-general {
    background: transparent;
    padding: 30px;
    width: 100%;
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 400px;
    gap: 20px;
    grid-template-areas:
        "summary1 summary2"
        "summaryChart1 summaryChart2"
}

#summary1 {
    grid-area: summary1;
    border-radius: 10px;
    padding: 0 20px 0 40px;
    /*align-content: center;*/
    /*align-items: center;*/
}

#summary2 {
    grid-area: summary2;
    border-radius: 10px;
    padding: 0 20px 0 40px;
}

#summaryChart1 {
    grid-area: summaryChart1;
    background: #fff;
    border-radius: 10px;
    padding: 20px 10px 80px 20px;
    margin-left: 20px;
    width: 90%;
    text-align: center;
    box-shadow: 0 7px 25px rgba(0,0,0,0.8);
}

#summaryChart2 {
    grid-area: summaryChart2;
    background: #fff;
    border-radius: 10px;
    padding: 20px 10px 80px 20px;
    margin-left: 20px;
    width: 90%;
    text-align: center;
    box-shadow: 0 7px 25px rgba(0,0,0,0.8);
}

#summaryChart1:hover, #summaryChart2:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

#summary1 .dashboard-column-summary,
#summary2 .dashboard-column-summary {
    padding-top: 10px;
    width: 330px;
    text-align: center;
}

#summary1 .dashboard-column-summary .card-body,
#summary2 .dashboard-column-summary .card-body {
    padding-left: 20px;
}

#summary1 .dashboard-column-summary h3,
#summary2 .dashboard-column-summary h3 {
    text-align: center;
}

#summary1 .dashboard-column-summary .card-body .card,
#summary2 .dashboard-column-summary .card-body .card {
    backdrop-filter: blur(20px);
    border: 2px solid darkgrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

#summary1 .dashboard-column-summary .card-body .card i.bx,
#summary2 .dashboard-column-summary .card-body .card i.bx {
    font-size: 30px;
    width: 4rem;
    height: 2rem;
    margin-bottom: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

#summary1 .dashboard-column-summary .card-body .card p,
#summary2 .dashboard-column-summary .card-body .card p {
    font-size: 20px;
    padding-bottom: 15px;
    color: black;
    font-weight: 600;
}

#summary1 .dashboard-column-summary .card-body .card:nth-child(1) span,
#summary2 .dashboard-column-summary .card-body .card:nth-child(1) span {
    font-size: 20px;
    padding-bottom: 15px;
    color: #23b6d3;
    font-weight: 600;
}

#summary1 .dashboard-column-summary .card-body .card:nth-child(2) span,
#summary2 .dashboard-column-summary .card-body .card:nth-child(2) span {
    font-size: 20px;
    padding-bottom: 15px;
    color: #f15b4d;
    font-weight: 600;
}

#summary1 .dashboard-column-summary .card-body .card:nth-child(3) span,
#summary2 .dashboard-column-summary .card-body .card:nth-child(3) span {
    font-size: 20px;
    color: #0b8c16;
    font-weight: 600;
}

#summary1 .dashboard-column-summary .card-body .card:hover,
#summary2 .dashboard-column-summary .card-body .card:hover {
    background-color: rgb(198, 201, 203);
    transform: translateX(40px);
}

#summary1 .dashboard-column-summary .card:nth-child(1),
#summary1 .dashboard-column-summary .card:nth-child(2),
#summary1 .dashboard-column-summary .card:nth-child(3),
#summary2 .dashboard-column-summary .card:nth-child(1),
#summary2 .dashboard-column-summary .card:nth-child(2),
#summary2 .dashboard-column-summary .card:nth-child(3) {
    max-width: 18rem;
    background-color: rgba(234, 234, 241, 0.6);
}

#summary1 .dashboard-column-summary .card:nth-child(1) i.bx,
#summary2 .dashboard-column-summary .card:nth-child(1) i.bx {
    background-color: rgba(215, 238, 243, 0.8);
    color: #23b6d3;
}

#summary1 .dashboard-column-summary .card:nth-child(2) i.bx,
#summary2 .dashboard-column-summary .card:nth-child(2) i.bx {
    background-color: rgba(215, 238, 243, 0.8);
    color: #f15b4d;
}

#summary1 .dashboard-column-summary .card:nth-child(3) i.bx,
#summary2 .dashboard-column-summary .card:nth-child(3) i.bx {
    background-color: rgba(215, 238, 243, 0.8);
    color: #0b8c16;
}


/*
---------------------------------------------
Container SUMMARY EXPENSES & INCOME - Charts
---------------------------------------------
*/

.container-summary {
    background: transparent;
    padding: 30px;
    width: 100%;
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 400px;
    gap: 20px;
    grid-template-areas:
        "dashboardArea1 dashboardArea2"
        "Chart3 Chart4";
}

#dashboardArea1 {
    grid-area: dashboardArea1;
    background: transparent;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#dashboardArea2 {
    grid-area: dashboardArea2;
    background: transparent;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#Chart3 {
    grid-area: Chart3;
    background: #fff;
    border-radius: 10px;
    padding: 20px 20px 80px 20px;
    margin-left: 20px;
    width: 90%;
    text-align: center;
    box-shadow: 0 7px 25px rgba(0,0,0,0.8);
}

#Chart4 {
    grid-area: Chart4;
    background: #fff;
    border-radius: 10px;
    padding: 20px 20px 80px 20px;
    margin-left: 30px;
    width: 90%;
    text-align: center;
    box-shadow: 0 7px 25px rgba(0,0,0,0.8);
}

#Chart3:hover, #Chart4:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.chart-container3, .chart-container4 {
    position: relative;
    width: 500px;
    height: 400px;
}

.dashboard-column {
    padding-top: 0;
    width: 300px;
}

.dashboard-column .card {
    max-width: 18rem;
    color: white;
}


/*
---------------------------------------------
Personal Budget - Home Page Table
---------------------------------------------
*/

.card-container {
    background: #f6f7f9;
    border-radius: 10px;
}



 /*#purchase-form {*/
 /*    margin-right: 170px;*/
 /*}*/

/*.table-title {*/
/*    font-size: 22px;*/
/*    font-weight: 500;*/
/*    margin-top: 20px;*/
/*    !*margin-left: 220px;*!*/
/*    color:dodgerblue;*/
/*    text-decoration: underline;*/
/*}*/

/*.table-btn button {*/
/*    margin-top: 20px;*/
/*    margin-left: 30px;*/
/*    font-size: 16px;*/
/*    line-height: 4px;*/
/*    color: black;*/
/*    background: #c9c6c6;*/
/*    border: 1px solid #868282;*/
/*    border-radius: 10px 10px 10px 10px;*/
/*    font-weight: 500;*/
/*}*/


/*
---------------------------------------------
Income Table
---------------------------------------------
*/
/*.container-income {*/
/*    margin-left: 70px;*/
/*    margin-right: 40px;*/
/*}*/

/*.card-incomes {*/
/*    background: transparent;*/
/*    backdrop-filter: blur(20px);*/
/*    border: 1px solid darkgrey;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, .2);*/
/*    border-radius: 10px 10px 10px 10px;*/
/*    margin-left: 150px;*/
/*    margin-top: 20px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.income-list {*/
/*    margin-left: 150px;*/
/*    margin-right: 40px;*/
/*    margin-top: 20px;*/
/*}*/

/*
---------------------------------------------
Table Pagination
---------------------------------------------
*/

.show-page {
    margin-bottom: 10px;
}

.show-pagination {
    float: right!important;
}


/* ---------------- MEDIA QUERIES ----------------*/

/*make it responsive to all devices*/

@media (max-width: 1438px) {
    #searchTableField {
        padding: 0 5px 0 120px;
    }
    .breadcrumb-event-add {
        margin-left: 900px;
    }
    .container-summary-general {
        width: 100%;
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 600px 500px;
        grid-template-areas:
            "summary1 summary2"
            "summaryChart1 summaryChart2"
    }
    #summary1, #summary2 {
        padding-left: 50px;
        margin-left: 0;
    }
    #summaryChart1, #summaryChart2 {
        width: 90%;
        margin-left: 30px;
    }
}

@media (max-width: 1345px) {
    #searchTableField {
        padding: 0 5px 0 120px;
    }
    .breadcrumb-event-add {
        margin-left: 800px;
    }
    .container-summary-general {
        width: 100%;
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 600px 500px;
        grid-template-areas:
            "summary1 summary2"
            "summaryChart1 summaryChart2"
    }
    #summary1, #summary2 {
        padding-left: 50px;
        margin-left: 0;
    }
    #summaryChart1, #summaryChart2 {
        width: 90%;
        margin-left: 30px;
    }
}

@media (max-width: 1240px) {
    .container-main {
        width: 115%;
        padding: 49px 7px 0 0;
    }
    #searchTableField {
        padding: 0 5px 0 100px;
    }
    .breadcrumb-event-add {
        margin-left: 700px;
    }
    .container-summary-general {
        width: 100%;
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 600px 500px;
        grid-template-areas:
            "summary1 summary2"
            "summaryChart1 summaryChart2"
    }
    #summary1, #summary2 {
        padding-left: 50px;
        margin-left: 0;
    }
    #summaryChart1, #summaryChart2 {
        width: 90%;
        margin-left: 30px;
    }
}

@media (max-width: 1100px) {
    .container-main {
        width: 115%;
        padding: 49px 7px 0 0;
    }
    #searchTableField {
        padding: 0 5px 0 100px;
    }
    .breadcrumb-event-add {
        margin-left: 600px;
    }
    .container-summary-general {
        width: 100%;
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 600px 500px;
        grid-template-areas:
            "summary1 summary2"
            "summaryChart1 summaryChart2"
    }
    #summary1, #summary2 {
        padding-left: 50px;
        margin-left: 0;
    }
    #summaryChart1, #summaryChart2 {
        width: 90%;
        margin-left: 30px;
    }
}

@media (max-width: 1000px) {
    .container-main {
        grid-template-columns: 50px 900px;
        width: 100%;
        padding: 49px 7px 0 0;
    }
    .container-dashboard {
        padding-left: 20px;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "dashboardMain1"
            "dashboardMain2"
            "dashboardMain3";
    }
    #dashboardMain1 .fa.fa-main,
    #dashboardMain2 .fa.fa-main,
    #dashboardMain3 .fa.fa-main {
        font-size: 70px;
    }
    #searchTableField {
        padding: 0 5px 0 100px;
    }
    .breadcrumb-event-add {
        margin-left: 550px;
    }
    .container-summary {
        margin-top: 10px;
        padding: 20px;
        grid-template-columns: 680px;
        grid-template-rows: 200px 200px 200px 680px;
        grid-template-areas:
            "dashboardArea1"
            "dashboardArea2"
            "Chart3"
            "Chart4";
    }
    .dashboard-column, .dashboard-column-summary {
        padding-left: 40px;
    }
    #dashboardArea1, #dashboardArea2 {
        padding-left: 40px;
        justify-content: space-around;
    }
    #Chart3, #Chart4 {
        padding-bottom: 100px;
        margin-left: 90px;
        width: 80%;
    }
    .chart-container3 {
        margin-top: 20px;
    }
    .chart-container4 {
        margin-top: 260px;
    }
    .breadcrumb-event-back .btn {
        margin-top: 10px;
    }
    .container-summary-general {
        width: 100%;
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 600px 500px;
        grid-template-areas:
            "summary1 summary2"
            "summaryChart1 summaryChart2"
    }
    #summary1, #summary2 {
        padding-left: 50px;
        margin-left: 0;
    }
    #summaryChart1, #summaryChart2 {
        width: 90%;
        margin-left: 30px;
    }
}

@media (max-width: 800px) {
    .container-main {
        grid-template-columns: 50px 740px;
        width: 105%;
        padding: 49px 7px 0 0;
    }
    .container-dashboard {
        padding-left: 20px;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "dashboardMain1
            "dashboardMain2"
            "dashboardMain3";
    }
    #dashboardMain1 .fa.fa-main,
    #dashboardMain2 .fa.fa-main,
    #dashboardMain3 .fa.fa-main {
        font-size: 70px;
    }
    #expensesTable {
        font-size: 14px;
    }
    #Chart1 {
        margin-left: 20px;
    }
    #Chart2 {
        padding-bottom: 100px;
    }
    .container-summary {
        margin-top: 10px;
        padding: 20px;
        grid-template-columns: 650px;
        grid-template-rows: 200px 200px 200px 650px;
        grid-template-areas:
            "dashboardArea1"
            "dashboardArea2"
            "Chart3"
            "Chart4";
    }
    #Chart3, #Chart4 {
        width: 80%;
        padding-bottom: 90px;
    }
    .chart-container3 {
        margin-top: 20px;
    }
    .chart-container4 {
        margin-top: 260px;
    }
    #searchTableField {
        padding: 0 5px 0 100px;
    }
    .breadcrumb-event-add {
        margin-left: 500px;
    }
    .container-summary-general {
        width: 100%;
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 600px 400px;
        grid-template-areas:
            "summary1 summary2"
            "summaryChart1 summaryChart2"
    }
    #summary1, #summary2 {
        padding-left: 50px;
        margin-left: 0;
    }
    #summaryChart1, #summaryChart2 {
        width: 80%;
        margin-left: 70px;
    }
}

@media (max-width: 680px) {
    .container-main {
        grid-template-columns: 50px 600px;
        width: 110%;
        padding: 49px 7px 0 0;
    }

    .container-dashboard {
        padding-left: 40px;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "dashboardMain1"
            "dashboardMain2"
            "dashboardMain3";
    }
    #dashboardMain1 .fa.fa-main,
    #dashboardMain2 .fa.fa-main,
    #dashboardMain3 .fa.fa-main {
        padding-left: 110px;
        font-size: 25px;
        transform: translateY(-100%);
    }
    #dashboardMain1 .bx.bx-card,
    #dashboardMain2 .bx.bx-card,
    #dashboardMain3 .bx.bx-card {
        padding-left: 110px;
        font-size: 30px;
        transform: translateY(-100%);
    }
    #dashboardMain1 .card .card-header,
    #dashboardMain2 .card .card-header,
    #dashboardMain3 .card .card-header {
        font-size: 22px;
    }
    #dashboardMain1 .card .card-header:hover span,
    #dashboardMain2 .card .card-header:hover span,
    #dashboardMain3 .card .card-header:hover span {
        font-size: 22px;
    }

    .container-tables {
        padding: 20px 10px 1040px 20px;
        grid-template-columns: 570px;
        grid-template-rows: 50px 50px 100px 100px 300px;
        gap: 20px;
        grid-template-areas:
            "exportFile"
            "searchTableField"
            "expensesTable"
            "Chart1"
            "Chart2";
    }
    #searchTableField {
    padding: 0 5px 0 260px;
    }
    #expensesTable {
    font-size: 10px;
    }
    #Chart1, #Chart2 {
        margin-left: 70px;
        width: 60%;
        padding-bottom: 100px;
        }
    .chart-container1 {
        margin-top: 350px;
    }
    .chart-container2 {
        margin-top: 800px;
    }
    .breadcrumb-event-add {
        margin-left: 420px;
    }
     .container-summary {
        margin-top: 10px;
        padding: 20px;
        grid-template-columns: 500px;
        grid-template-rows: 200px 200px 200px 650px;
        grid-template-areas:
            "dashboardArea1"
            "dashboardArea2"
            "Chart3"
            "Chart4";
    }
    #dashboardArea1, #dashboardArea2 {
        justify-content: space-around;
    }
    .dashboard-column, .dashboard-column-summary {
        font-size: 20px;
        width: 200px;
    }
    #Chart3, #Chart4 {
        margin-left: 40px;
        width: 80%;
        padding-bottom: 90px;
    }
    .chart-container3 {
        margin-top: 20px;
    }
    .chart-container4 {
        margin-top: 250px;
    }
    .container-summary-general {
        width: 100%;
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 600px 600px 400px 400px;
        grid-template-areas:
            "summary1"
            "summary2"
            "summaryChart1"
            "summaryChart2"
    }
    #summary1, #summary2 {
        padding-left: 60px;
        margin-left: 0;
    }
    #summaryChart1, #summaryChart2 {
        width: 80%;
        margin-left: 70px;
    }
    /*.breadcrumb-event-back .btn {*/
    /*    margin-top: 1000px;*/
    /*}*/
}



/*@media (max-width: 560px) {*/
/*    .container-main {*/
/*        width: 140%;*/
/*    }*/
/*    .breadcrumb-event-add {*/
/*        margin-left: 420px;*/
/*    }*/
/*}*/

    /*.card-container-expenses {*/
    /*    grid-area: initial !important;*/
    /*}*/
/*    .container-main {*/
/*        !*padding-left: 0;*!*/
/*        padding: 55px 7px 7px 0;*/
/*        !*left: 20px;*!*/
/*    }*/
/*    !*!*width: 110%;*!*!*/
/*    !*!*min-height: 100vh;*!*!*/
/*    !*!*padding-left: 60px;*!*!*/
/*    !*}*!*/
/*    .container-breadcrumb-bar {*/
/*        margin-left: 0;*/
/*    }*/
/*    .container-breadcrumb {*/
/*        padding: 0 80px 0 5px;*/
/*    }*/
/*    .breadcrumb {*/
/*    margin: 5px 0 5px 20px;*/
/*}*/
/*    .breadcrumb-event {*/
/*        padding: 5px 5px;*/
/*    }*/
/*    .breadcrumb-event a {*/
/*        min-width: 140px;*/
/*        height: 40px;*/
/*    }*/
/*    .search-bar-form {*/
/*        width: 100%;*/
/*    }*/
    /*.container-tables {*/
    /*    padding: 10px 30px 10px 20px;*/
    /*    margin-top: 15px;*/
    /*}*/
    /*.expenses-list {*/
    /*    margin-left: 10px;*/
    /*    margin-right: 10px;*/
    /*    margin-top: 20px;*/
    /*    overflow: auto;*/
    /*}*/
/*}*/

/*Small <=768 px*/
/*@media screen and (max-width: 768px) {*/
/*    .container-main {*/
/*        padding: 55px 7px 7px 0;*/
/*        !*left: 0;*!*/
/*    }*/
/*!*    .container-main {*!*/
/*!*    width: calc(100% - 50px);*!*/
/*!*    min-height: 100vh;*!*/
/*!*    left: 50px;*!*/
/*!*}*!*/
/*    .container-breadcrumb-bar {*/
/*        margin-left: 0;*/
/*    }*/
/*    .container-breadcrumb {*/
/*        padding: 0 80px 0 5px;*/
/*    }*/
/*    .breadcrumb {*/
/*    margin: 5px 0 5px 20px;*/
/*}*/
/*    .breadcrumb-event {*/
/*        padding: 5px 5px;*/
/*    }*/
/*    .breadcrumb-event a {*/
/*        min-width: 140px;*/
/*        height: 40px;*/
/*    }*/
/*    .search-bar-form {*/
/*        width: 100%;*/
/*    }*/
/*    .container-tables {*/
/*        padding: 10px 10px 10px 10px;*/
/*        margin-top: 15px;*/
/*    }*/
/*    .expenses-list {*/
/*        margin-left: 10px;*/
/*        margin-right: 10px;*/
/*        margin-top: 20px;*/
/*        overflow: auto;*/
/*        font-size: 10px;*/
/*    }*/
/*}*/


/*Extra Small <=567 px*/
/*@media screen and (max-width: 567px) {*/
/*    .container-main {*/
/*        padding: 55px 7px 7px 0;*/
/*        !*left: 0;*!*/
/*    }*/
/*!*    .container-main {*!*/
/*!*    width: calc(100% - 50px);*!*/
/*!*    min-height: 100vh;*!*/
/*!*    left: 50px;*!*/
/*!*}*!*/
/*    .container-breadcrumb-bar {*/
/*        margin-left: 0;*/
/*    }*/
/*    .container-breadcrumb {*/
/*        padding: 0 10px 0 5px;*/
/*    }*/
/*    .breadcrumb {*/
/*        margin: 5px 0 5px 20px;*/
/*    }*/
/*    .breadcrumb-event {*/
/*        padding: 5px 5px;*/
/*    }*/
/*    .breadcrumb-event a {*/
/*        !*min-width: 20px;*!*/
/*        height: 40px;*/
/*    }*/
/*    .search-bar-form {*/
/*        width: 100%;*/
/*    }*/
/*    .container-tables {*/
/*        padding: 10px 10px 10px 10px;*/
/*        margin-top: 15px;*/
/*    }*/
/*    .expenses-list {*/
/*        margin-left: 10px;*/
/*        margin-right: 10px;*/
/*        margin-top: 20px;*/
/*        overflow: auto;*/
/*        font-size: 6px;*/
/*    }*/
/*}*/

