{% extends 'base/base.html' %}
{% load static %}

{% block title %} Login into the website {% endblock %}

{% block content %}

    <div class="container-log">
        <div class="card-log">
            <div class="card-header-log">
                <h3 class="text-center">Login to your account</h3>
            </div>

            <!-- Form -->
            <form class="card-form" method="POST" action="{% url 'login' %}" enctype="multipart/form-data">
                {% include 'userauthentication/_messages.html' %} {% csrf_token %}

                <div class="input-box">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username"
                           name="username" id="username"
                           value="{{ field_values.username }}"  {# to keep the value #}
                           required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password"
                           name="password" id="password"
                           required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Remember me</label>
                    <a href="{% url 'reset-password-link' %}">Forgot password?</a>
                </div>

                <button class="btn btn-login" type="submit" value="login" onclick="auth()">Login</button>
                <div class="cancel-button">
                    <a href="{% url 'home' %}" class="btn btn-outline-secondary">Cancel</a>
                </div>
                {#  {% if form.errors %}#}
                {#  <p>Please, check your username and password</p>#}
                {# {% endif %}#}
            </form>
            <div class="register-link">
                <p>Don't have an account?<a href="{% url 'signup' %}"> Sign Up here</a></p>
            </div>
        </div>
    </div>

{% endblock %}