{% extends 'base/base.html' %}
{% load static %}

{% block title %} Reset Password Using Email {% endblock %}

{% block content %}

    <div class="container-reset">
        <div class="card-reset">

            <div class="card-title-reset py-3">
                <h4>Forgot your Password?</h4><br>
                <h6>Please enter your email to get reset link</h6>
            </div>

            <form class="card-form-reset" method="POST"
                  action="{% url 'reset-password-link' %}">
                {% include 'userauthentication/_messages.html' %} {% csrf_token %}
                
                <div class="input-box-reset">
{#                    <label for="email"><b>Email</b></label>#}
                    <input type="email" placeholder="Enter Email"
                           name="email" id="id_email"
                           value="{{ values.email }}"
                           required>
                </div>
                
                <input type="submit" value="Submit" class="btn btn-submit-reset btn-outline-primary">
                <div class="cancel-button">
                    <a href="{% url 'home' %}" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}