{% extends 'base/base.html' %}
{% load static %}

{% block title %} Change Your Password {% endblock %}

{% block content %}

    <div class="container-reset">
        <div class="card-reset">

            <div class="card-title-reset py-3">
                <h4>Set your new Password</h4><br>
            </div>

            <form class="card-form-reset" method="POST"
                  action="{% url 'set-new-password' %}">
                {% include 'userauthentication/_messages.html' %} {% csrf_token %}

                <div class="form-group">
                    <input type="password" placeholder="Enter new password"
                           name="new_password1" id="new_password1"
                           required class="form-control form-control-sm">
                    <small class="showPasswordToggle">Show</small>
                </div>

                <div class="form-group">
                    <input type="password" placeholder="Confirm new password"
                           name="new_password2" id="new_password2"
                           required class="form-control form-control-sm">
                </div>

                <input type="submit" value="Submit" class="btn btn-reset btn-outline-primary">

                <div class="cancel-button">
                    <a href="{% url 'login' %}" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}