{% extends 'base/base.html' %}
{% load static %}

{% block title %} Account settings {% endblock %}

{% block content %}

    <div class="container-settings">
        <div class="row mt-2 mb-2">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card-set">
                    <div class="card-header-set">
                        <h3 class="text-center pt-2">Account Settings</h3>
                    </div>
                    <form method="POST" action="{% url 'settings' %}">
                        {% include 'userauthentication/_messages.html' %} {% csrf_token %}

                        <div class="input-box-set">
                            <label for="username"><b>Update username</b></label>
                            <input type="text"
                                   placeholder="Enter the new username"
                                   name="username" id="username"
                                   required>
                        </div>
                        <div class="input-box-set">
                            <label for="password"><b>Change your
                                password</b></label>
                            <input type="password"
                                   placeholder="Enter the new password"
                                   name="password" id="password"
                                   required>
                        </div>
                        <div class="remember-set">
                            <label><input type="checkbox">Remember me</label>
                        </div>

                        <button class="btn btn-secondary btn-sm" type="submit" value="update"
                                onclick="auth()">Update
                        </button>
                        <div class="delete-account">
                            <p style="text-align: center">Do you want to delete your account?<a
                                    href="#"
                                    class="btn btn-danger btn-sm"> Delete
                                Account</a></p>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}