{% extends 'base/base.html' %}
{% load static %}

{% block title %} Account settings {% endblock %}

{% block content %}

    <div class="container-settings">
        <div class="card-set">
            <div class="card-header-set">
                <h3 class="text-center pt-2">Account Settings</h3>
                <hr>
                <h5 class="text-center pt-2">Change your password</h5>
            </div>

            <!-- Form -->
            <form class='card-form-set' method="POST" action="{% url 'account-settings' %}" enctype="multipart/form-data">
                {% include 'authentication/_messages.html' %} {% csrf_token %}

                <button type="button" class="toggle-old-password bx bxs-hide" id="oldPasswordToggleBtn"></button>
             
                <button type="button" class="toggle-new-password bx bxs-hide" id="newPasswordToggleBtn"></button>
            
                {{ fm.as_p }}
                {% if fm.errors %}
                    <div class="alert alert-danger">
                        {{ fm.errors }}
                    </div>
                {% endif %}
            
                
            
                <button type="submit" class="btn btn-submit-psw btn-secondary btn-sm"
                >Submit
                </button>
                <div class="delete-account">
                    <p style="text-align: center">Do you want to delete your account?
                        <a href="{% url 'delete-account' user.id %}"
                            class="btn btn-danger btn-sm">
                            Delete Account</a>
                    </p>
                </div>
            </form>

        </div>
    </div>


    <!-- Scripts -->
    <script src="{% static 'assets/js/accountSettings.js' %}"></script>

{% endblock %}