{% extends 'base/base.html' %}
{% load static %}

{% block title %} Login into the website {% endblock %}

{% block content %}

    <div class="container-log">
        <div class="card-log">
            <div class="card-header-log">
                <h3 class="text-center">Login</h3>
            </div>

            <!-- Form -->
            <form class="card-form" method="POST" action="{% url 'login' %}" enctype="multipart/form-data">
                {% include 'authentication/_messages.html' %} {% csrf_token %}

                <div class="input-box"><b>Username</b>
                    <input type="text" placeholder="Enter Username"
                           name="username" id="username"
                           value="{{ field_values.username }}"  {# to keep the value #}
                           autocomplete="on">
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box"><b>Password</b>
                    <input type="password" placeholder="Enter Password"
                           name="password" id="password"
                           autocomplete="on">
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox" id="rememberForgot">Remember me</label>
                    <a href="{% url 'forgot-reset-password' %}">Forgot password?</a>
                </div>
                <button class="btn btn-login" type="submit" value="login">Login</button>
                <div class="cancel-button">
                    <a href="{% url 'home' %}" class="btn btn-outline-secondary">Cancel</a>
                </div>
            </form>
            <div class="register-link">
                <p>Don't have an account?<a href="{% url 'signup' %}"> Sign Up </a>here</p>
            </div>
        </div>
    </div>

{% endblock %}