{% extends 'base/base.html' %}
{% load static %}

{% block title %} Sign Up {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center pt-2">Sign Up</h3>
            </div>
            
            <form class="card-form" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
                {% include 'authentication/_messages.html' %} {% csrf_token %}

                <div class="card-body">
                    
                    <p>Username:</p>
                    {{ user_form.username }}
                    <div class="userInvalidFeedback invalid-feedback text-danger" style="display:none"></div>
                    <p class="text-sm text-success usernameSuccessOutput"></p>

                    <p>First Name:</p>
                    {{ user_form.first_name }}
                    <p>Last Name:</p>
                    {{ user_form.last_name }}

                    <p>Email:</p>
                    {{ user_form.email }}
                    <div class="emailFeedbackArea invalid-feedback text-danger" style="display:none"></div>
                    <p class="text-sm text-success emailSuccessOutput"></p>

                    <p class="psw-1">Password:</p>
                    {{ user_form.password1 }}
                    <div class="passwordFeedbackArea invalid-feedback text-danger" style="display:none"></div>
                    <p class="text-sm text-success passwordSuccessOutput"></p>
                    
                    <small class="showPasswordToggle">Show</small>
                
                    <p class="psw-2">Password confirmation:</p>
                    {{ user_form.password2 }}
                    <div class="confirmPasswordFeedbackArea invalid-feedback text-danger" style="display:none"></div>
                    <p>
                        Enter the same password as before for verification.
                    </p>

                </div>

                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-submit btn-outline-success"
                    >Submit </button>

                    <a href="{% url 'home' %}" class="btn btn-cancel btn-outline-secondary"
                    >Cancel</a>
                </div>
            </form>
        
            <div class="card-terms">
                <p>By clicking the SignUp button, you agree to our <br>
                    <a href="">Terms and Conditions</a> and <a href="">Policy
                        Privacy</a>
                </p>
                <p>Already have an account?<a href="{% url 'login' %}"> Login </a>here</p>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="{% static 'assets/js/signup.js' %}"></script>

{% endblock %}