{% extends 'base/base.html' %}
{% load static %}

{% block title %} Welcome page {% endblock %}

{% block content %}
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <div class="main-banner">
        {#        <div class="owl-carousel owl-banner">#}
        <div class="item item-1">
            <div class="header-text">
                <h2>Welcome<br>to my website<br>application!</h2>
            </div>
        </div>
        {#        </div>#}
    </div>

    <div class="featured section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-image">
                        <img src="/static/assets/img/home-chart-1.jpg" alt="">
                        <a href=""><img
                                src="/static/assets/img/creative-writing.png"
                                alt=""
                                style="max-width: 60px; padding: 0px;"></a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="section-heading">
                        <h6>| Featured</h6>
                        <h2>Personal Budget</h2>
                    </div>
                    <div class="accordion" id="accordionExample{{ item.id }}">
                        {% for item in items %}
                            <div class="accordion-item">
                                <h2 class="accordion-header"
                                    id="headingOne{{ item.id }}">
                                    <button class="accordion-button"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne{{ item.id }}"
                                            aria-expanded="false"
                                            aria-controls="collapseOne{{ item.id }}">
                                        {{ item.name }}
                                    </button>
                                </h2>
                                <div id="collapseOne{{ item.id }}"
                                     class="accordion-collapse collapse show"
                                     aria-labelledby="headingOne{{ item.id }}"
                                     data-bs-parent="#accordionExample{{ item.id }}">
                                    <div class="accordion-body">
                                        {{ item.description }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info-table">
                        <ul>
                            <li>
                                <img src="/static/assets/img/info-icon-02.png"
                                     alt="" style="max-width: 52px;">
                                <h4>Incomes<br><span>Earnings Ready</span></h4>
                            </li>
                            <li>
                                <img src="/static/assets/img/info-icon-03.png"
                                     alt="" style="max-width: 52px;">
                                <h4>Payments<br><span>Payment Process</span>
                                </h4>
                            </li>
                            <li>
                                <img src="/static/assets/img/info-icon-04.png"
                                     alt="" style="max-width: 52px;">
                                <h4>Safety<br><span>24/7 Under Control</span>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="featured section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-image">
                        <img src="/static/assets/img/home-chart-2.jpg" alt="">
                        <a href=""><img
                                src="/static/assets/img/note.png"
                                alt=""
                                style="max-width: 60px; padding: 0px;"></a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="section-heading">
                        <h6>| Featured</h6>
                        <h2>Project Budget</h2>
                    </div>
                    <div class="accordion" id="accordionExample{{ item.id }}">
                        {% for item in items %}
                            <div class="accordion-item">
                                <h2 class="accordion-header"
                                    id="headingOne{{ item.id }}">
                                    <button class="accordion-button"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne{{ item.id }}"
                                            aria-expanded="true"
                                            aria-controls="collapseOne{{ item.id }}">
                                        {{ item.name }}
                                    </button>
                                </h2>
                                <div id="collapseOne{{ item.id }}"
                                     class="accordion-collapse collapse show"
                                     aria-labelledby="headingOne{{ item.id }}"
                                     data-bs-parent="#accordionExample{{ item.id }}">
                                    <div class="accordion-body">
                                        {{ item.description }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info-table">
                        <ul>
                            <li>
                                <img src="/static/assets/img/info-icon-02.png"
                                     alt="" style="max-width: 52px;">
                                <h4>Incomes<br><span>Earnings Ready</span></h4>
                            </li>
                            <li>
                                <img src="/static/assets/img/info-icon-03.png"
                                     alt="" style="max-width: 52px;">
                                <h4>Payments<br><span>Payment Process</span>
                                </h4>
                            </li>
                            <li>
                                <img src="/static/assets/img/info-icon-04.png"
                                     alt="" style="max-width: 52px;">
                                <h4>Safety<br><span>24/7 Under Control</span>
                                </h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    <div class="video section">#}
    {#        <div class="container">#}
    {#            <div class="section-heading text-center">#}
    {#                <h6>| Overview</h6>#}
    {#                <h2>Manage your budget with the help of BudgetTracking#}
    {#                    app.<br>#}
    {#                    Get your data report quickly.<br>#}
    {#                    You can choose to import your file or to#}
    {#                    do your analysis directly inside the app by choosing#}
    {#                    one of the options presented above!</h2>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <div class="overview">
        <div class="container">
            <div class="section-heading text-center">
                <h6>| Overview</h6>
                <h2>Manage your budget with the help of BudgetTracking
                    app.<br>
                    Get your data report quickly.<br>
                    You can choose to import your file or to
                    do your analysis directly inside the app by choosing
                    one of the options presented above!</h2>
            </div>
        </div>
    </div>

    <div class="contact section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4">
                    <div class="section-heading text-center">
                        <h6>| Contact Us</h6>
                        <h2>Get In Touch With Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div id="map">
                        {#                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12469.776493332698!2d-80.14036379941481!3d25.907788681148624!2m3!1f357.26927939317244!2f20.870722720054623!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1642869952544!5m2!1sen!2sth"#}
                        {#                                width="100%" height="500px" frameborder="0"#}
                        {#                                style="border:0; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);"#}
                        {#                                allowfullscreen=""></iframe>#}
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="item phone">
                                <img src="/static/assets/img/phone-icon.png"
                                     alt="" style="max-width: 52px;">
                                <h6>010-020-0340<br><span>Phone Number</span>
                                </h6>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="item email">
                                <img src="/static/assets/img/email-icon.png"
                                     alt="" style="max-width: 52px;">
                                <h6>
                                    info@company.co<br><span>Business Email</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <form id="contact-form" action="" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="name">Full Name</label>
                                    <input type="text" name="name" id="fullName"
                                           placeholder="Your Name..."
                                           autocomplete="off" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="email">Email Address</label>
                                    <input type="email" name="email" id="email"
                                           pattern="[^ @]*@[^ @]*"
                                           placeholder="Your E-mail..."
                                           autocomplete="off" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="subject">Subject</label>
                                    <input type="text" name="subject"
                                           id="subject" placeholder="Subject..."
                                           autocomplete="off">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message"
                                              placeholder="Your Message"></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit"
                                            class="orange-button">Send Message
                                    </button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/isotope.min.js"></script>
    {#    <script src="/static/assets/js/owl-carousel.js"></script>#}
    <script src="/static/assets/js/counter.js"></script>
    <script src="/static/assets/js/custom.js"></script>
    <script src="/static/assets/js/script.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

    <script>
        var map = L.map('map');
        map.setView([51.505, -0.09], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        navigator.geolocation.watchPosition(success, error);

        let marker, circle, zoomed;

        function success(pos) {
            const lat = pos.coords.latitude;
            const lng = pos.coords.longitude;
            const accuracy = pos.coords.accuracy;

            if (marker) {
                map.removeLayer(marker);
                map.removeLayer(circle);
            }

            marker = L.marker([lat, lng]).addTo(map);
            circle = L.circle([lat, lng], {radius: accuracy}).addTo(map);

            if (!zoomed) {
                zoomed = map.fitBounds(circle.getBounds());
            }

            map.setView([lat, lng]);
        }

        function error(err) {
            if (err.code === 1) {
                alert('Please allow geolocation access');
            } else {
                alert('Cannot get current location');
            }
        }

    </script>

    <footer>
        {% block footer_content %}
            <div class="container-footer">
                <div class="col-lg-4">
                    <p>Copyright © Agreement, Ltd. All rights reserved.</p>
                </div>
            </div>
        {% endblock footer_content %}
    </footer>

{% endblock content %}

