{% extends 'base/base.html' %}
{% load static %}

{% block title %} DataTables with Insert Data Jquery Ajax {% endblock %}

{% block content %}

    <div class="container-main">

        {% include 'base/sidebar.html' %}

        <div class="container-breadcrumb-bar">
            <div class="container-breadcrumb row">
                <div class="col-md-10">
                    <nav aria-label="breadcrumb-nav">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a
                                    href="{% url 'personal-budget' %}">Personal Budget</a>
                            </li>
                            <li class="breadcrumb-item active"
                                aria-current="page">
                                Budget
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    

        <div class="container-budget">

            <div id="budgetCard1" data-remaining-budget="{{ remaining_budget }}" data-total-income="{{ this_month_total_income }}">
                <p>Your remaining budget is: <span class="budget-remaining">{{ remaining_budget }} {{ currency }}</span></p>
                <div class="progress-bar-container">
                    <div class="progress-bar budget-progress-bar" style="width: {{ remaining_budget_percentage }}%;" onmouseover="showPercentage()" onmouseout="hidePercentage()"></div>
                    <div class="progress-tooltip" id="progressTooltip">0%</div>
                </div>
            </div>

            <div id="budgetCard2">
                <p>Your total budget is: <span class="budget-income">{{ this_month_total_income }} {{ currency }}</span></p>
                <p>You've spent a total of: <span class="budget-expenses">{{ this_month_total_expenses }} {{ currency }}</span></p>
            </div>

            <div id="budgetCardExpenses">
                {# expenses total si total cheltuieli pe categorii #}
                <div class="table-title">Expenses / Category (this month)</div>
                <table class="table table-stripped table-hover">
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th>Amount ({{ currency }})</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if category_data %}
                        {% for entry in category_data %}
                            <tr>
                                <td>{{ entry.category }}</td>
                                <td>{{ entry.amount }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2">No expenses available</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>

            <div id="budgetCardIncome">
                {# income total si total venituri pe surse #}
                <div class="table-title">Income / Source (this month)</div>
                <table class="table table-stripped table-hover">
                    <thead>
                    <tr>
                        <th>Source</th>
                        <th>Amount ({{ currency }})</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if source_data %}
                        {% for entry_i in source_data %}
                            <tr>
                                <td>{{ entry_i.source }}</td>
                                <td>{{ entry_i.amount }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2">No incomes available</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Scripts -->

    <script src="{% static 'assets/js/progressBar.js' %}"></script>

{% endblock content %}

