{% extends 'base/base.html' %}
{% load static %}

{% block title %} DataTables with Insert Data Jquery Ajax {% endblock %}

<body>
{% block content %}
{#    Include Sidebar #}
    {% include 'base/sidebar.html' %}

{#    Include Table Title #}
    <div class="table-title">
        Table title
    </div>

    <hr style="border-top:1px solid #000; clear:both; margin-left: 200px; margin-right: 20px;">
    <div class="data-table">
        <table class="table table-bordered" id="my_purchases">
            <thead class="table-head">
            <tr>
                <th>Person Name</th>
                <th>Item</th>
                <th>Category</th>
                <th>Cost</th>
                <th>Qty</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody class="table-body">
            {% for expense in expenses %}
                <tr>
                    <td>{{ purchase.person_name }}</td>
                    <td>{{ purchase.item }}></td>
                    <td>{{ purchase.category }}></td>
                    <td>{{ purchase.cost }}</td>
                    <td>{{ purchase.qty }}</td>
                    <td>{{ purchase.amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
            {#            <tfoot>#}
            {#            <tr>#}
            {#                <td colspan="7"><input type="button" class="btn btn-primary"#}
            {#                                       value="Add Row" id="addRow"></td>#}
            {#            </tr>#}
            {#            </tfoot>#}
        </table>
    </div>


{#    <!-- Scripts -->#}
{#    <!-- Bootstrap core JavaScript -->#}
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/assets/js/isotope.min.js"></script>
        <script src="/static/assets/js/counter.js"></script>
        <script src="/static/assets/js/custom.js"></script>
        <script src="/static/assets/js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

{#    <!-- Datatables script -->#}


{% endblock content %}

</body>