{% extends 'base/base.html' %}
{% load static %}

{% block title %} DataTables with Insert Data Jquery Ajax {% endblock %}

{% block content %}

    <div class="container-main">

        {% include 'base/sidebar.html' %}

        <div class="container-breadcrumb-bar">
            <nav aria-label="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="{% url 'personal-budget' %}">Personal Budget</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Budget
                    </li>
                </ol>
            </nav>

        </div>

        <div class="container-budget">

            <!-- ***** Budget Progress Bar ***** -->
            <div id="budgetCard1" data-remaining-budget="{{ remaining_budget }}"
                 data-total-income="{{ this_month_total_income }}">
                <p>Your remaining budget is:
                    {% if remaining_budget %}
                        <span class="budget-remaining">
                            {{ remaining_budget|floatformat:"2" }} {{ currency }}</span>
                    {% else %}
                        <span class="budget-remaining">
                            {{ remaining_budget|default_if_none:"0" }} {{ currency }}</span>
                    {% endif %}
                </p>
                <div class="progress-bar-container">
                    <div class="progress-bar budget-progress-bar" style="width: {{ remaining_budget_percentage }}%;"
                         onmouseover="showPercentage()" onmouseout="hidePercentage()"></div>
                    <div class="progress-tooltip" id="progressTooltip">0%</div>
                </div>
            </div>
            <!-- ***** Total Income and Expenses ***** -->
            <div id="budgetCard2">
                <p>Your initial budget was:
                    {% if this_month_total_income %}
                        <span class="budget-income">
                            {{ this_month_total_income|floatformat:"2" }} {{ currency }}</span>
                    {% else %}
                        <span class="budget-income">
                            {{ this_month_total_income|default_if_none:"0" }} {{ currency }}</span>
                    {% endif %}
                </p>
                <p>You've spent a total of:
                    {% if this_month_total_expenses %}
                        <span class="budget-expenses">
                            {{ this_month_total_expenses|floatformat:"2" }} {{ currency }}</span>
                    {% else %}
                        <span class="budget-expenses">
                            {{ this_month_total_expenses|default_if_none:"0" }} {{ currency }}</span>
                    {% endif %}
                </p>
            </div>

            <div id="budgetCardExpenses">
                <div class="table-title">Expenses / Category (this month)</div>
                <hr>
                <table class="table table-stripped table-hover">
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th>Amount<br>({{ currency }})</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if category_data %}
                        {% for entry in category_data %}
                            <tr>
                                <td>{{ entry.category }}</td>
                                <td>{{ entry.amount|floatformat:"2" }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2">No expenses available</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>

            <div id="budgetCardIncome">
                <div class="table-title">Income / Source (this month)</div>
                <hr>
                <table class="table table-stripped table-hover">
                    <thead>
                    <tr>
                        <th>Source</th>
                        <th>Amount<br>({{ currency }})</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if source_data %}
                        {% for entry_i in source_data %}
                            <tr>
                                <td>{{ entry_i.source }}</td>
                                <td>{{ entry_i.amount|floatformat:"2" }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2">No incomes available</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <!-- ***** Back to the Dashboard ***** -->
            <div class="breadcrumb-event-back">
                <a href="{% url 'personal-budget' %}" class="btn btn-secondary">
                    <i class="fa fa-angle-left home-icon"></i>
                    <span>Back to Dashboard</span></a>
            </div>
        </div>

    </div>


    <!-- Scripts -->
    <script src="{% static 'assets/js/progressBar.js' %}"></script>

{% endblock content %}

