{% extends 'base/base.html' %}
{% load static %}

{% block title %} Expenses Summary Charts {% endblock %}

{% block content %}
    {% load humanize %}


    {#    <h3 style="margin-left: 220px;padding-top: 20px;color:darkred;">#}
    {#        EXPENSES SUMMARY</h3>#}

    <div class="container-main">

        {% include 'base/sidebar.html' %}

        <div class="container-breadcrumb-bar">
            <nav aria-label="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="">Expenses Summary</a>
                    </li>
                    <li class="breadcrumb-item active"
                        aria-current="page">
                        Summary
                    </li>
                </ol>
            </nav>

        </div>


        <div class="container-summary-general">

            <div class="breadcrumb-event-back">
                <a href="{% url 'personal-budget' %}" class="btn btn-secondary">BACK</a>
            </div>

            <div id="summary1">
                <div class="dashboard-column-summary">
                    <h3>This Month Budget</h3>
                    <hr>
                    <div class="card-body">
                        <div class="card text-white mb-2" id="incomeBudget">
                            <div class="card-header">
                                <i class="bx bx-money"></i>
                                <p>MONTH INCOME: </p><h5
                                    class="float-right"><span
                                    class="badge badge-light income_budget">{{ this_month_income.amount }} {{ currency }}</span>
                            </h5></div>
                        </div>
                        <div class="card text-white mb-2" id="expensesBudget">
                            <div class="card-header">
                                <i class="bx bx-credit-card"></i>
                                <p>MONTH EXPENSES: </p><h5
                                    class="float-right"><span
                                    class="badge badge-light expenses_budget">{{ this_month_expenses.amount }} {{ currency }}</span>
                            </h5></div>
                        </div>
                        <div class="card text-white mb-2" id="balanceBudget">
                            <div class="card-header">
                                <i class="bx bx-dollar"></i>
                                <p>MONTH BALANCE: </p><h5
                                    class="float-right"><span
                                    class="badge badge-light balance_budget">{{ this_month_balance.amount }} {{ currency }}</span>
                            </h5></div>
                        </div>
                    </div>
                </div>
            </div>
            {#                <div class="card-group" style="width: 18rem;">#}
            {#                    <div class="card">#}
            {#                        <ul class="list-group list-group-flush">#}
            {#                            <h3>TOTAL BUDGET</h3>#}
            {#                            <li class="list-group-item">Income:</li>#}
            {#                            <li class="list-group-item">Expenses:</li>#}
            {#                            <li class="list-group-item">Budget:</li>#}
            {#                        </ul>#}
            {#                    </div>#}
            {#                    <div class="card">#}
            {#                        <ul class="list-group list-group-flush">#}
            {#                            <h3>TOTAL</h3>#}
            {#                            <li class="list-group-item">Income</li>#}
            {#                            <li class="list-group-item">Expenses</li>#}
            {#                            <li class="list-group-item">Budget</li>#}
            {#                        </ul>#}
            {#                    </div>#}
            {#                </div>#}


            <div id="summary2">
                <div class="dashboard-column-summary">
                    <h3>This Year Budget</h3>
                    <hr>
                    <div class="card-body">
                        <div class="card text-white mb-2" id="incomeBudget">
                            <div class="card-header">
                                <i class="bx bx-money"></i>
                                <p>YEAR INCOME: </p><h5
                                    class="float-right"><span
                                    class="badge badge-light ">{{ this_year_income.amount }} {{ currency }}</span>
                            </h5></div>
                        </div>
                        <div class="card text-white mb-2" id="expensesBudget">
                            <div class="card-header">
                                <i class="bx bx-credit-card"></i>
                                <p>YEAR EXPENSES: </p><h5
                                    class="float-right"><span
                                    class="badge badge-light ">{{ this_year_expenses.amount }} {{ currency }}</span>
                            </h5></div>
                        </div>
                        <div class="card text-white mb-2" id="balanceBudget">
                            <div class="card-header">
                                <i class="bx bx-dollar"></i>
                                <p>YEAR BALANCE: </p><h5
                                    class="float-right"><span
                                    class="badge badge-light ">{{ this_year_balance.amount }} {{ currency }}</span>
                            </h5></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="chart-container-summary1" id="summaryChart1">
                <h6>This Month Income and Balance</h6>
                <hr>
                <canvas id="monthBalanceChart"></canvas>
            </div>
            <div class="chart-container-summary2" id="summaryChart2">
                <h6>This Year Income and Balance</h6>
                <hr>
                <canvas id="yearBalanceChart"></canvas>
            </div>
        </div>

    </div>

        <!-- Scripts -->
    <script src="{% static 'assets/js/summaryBalance.js' %}"></script>

{% endblock content %}