{% extends 'base/base.html' %}
{% load static %}

{% block title %} Expenses {% endblock %}

<body>
{% block content %}

    {#    Include Sidebar #}
    {% include 'base/sidebar.html' %}

    <div class="container-expenses mt-4">
        <div class="row">
            <div class="col-md-10">
                <nav class="container-breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a
                                href="{% url 'expenses' %}">Expenses</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Edit Expense
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-2">
                <a href="{% url 'delete-expense' expense.id %}"
                   class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>


        <div class="card-expenses">
            <div class="card-body">
                <form action="{% url 'edit-expense' expense.id %}"
                      method="post">
                    {% include 'user/_messages.html' %} {% csrf_token %}
                    <div class="form-group">
                        <label for="">Item</label>
                        <input type="text" class="form-control form-control-sm"
                               name="item" value="{{ values.item }}">
                    </div>
                    <div class="form-group">
                        <label for="">Category</label>
                        <select class="form-control" name="category">
                            <option selected name="category"
                                    value="{{ values.category }}">
                                {{ values.category }}</option>
                            {% for category in categories %}
                                <option name="category"
                                        value="{{ category.name }}">
                                    {{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <input type="text" class="form-control form-control-sm"
                               name="description" value="{{ values.description }}">
                    </div>
                    <div class="form-group">
                        <label for="" style="color:black;">Cost</label>
                        <input type="number"
                               class="form-control form-control-sm"
                               name="cost" value="{{ values.cost }}">
                    </div>
                    <div class="form-group">
                        <label for="" style="color:black;">Qty</label>
                        <input type="number"
                               class="form-control form-control-sm"
                               name="qty" value="{{ values.qty }}">
                    </div>
                    <div class="form-group">
                        <label for="" style="color:black;">Amount</label>
                        <input type="number"
                               class="form-control form-control-sm"
                               name="amount" value="{{ values.amount }}">
                    </div>
                    <div class="form-group">
                        <label for="" style="color:black;">Date of
                            Expense</label>
                        <input type="date" class="form-control form-control-sm"
                               name="expense_date" value="{{ values.date | date:'Y-m-d' }}">
                    </div>
                    <input type="submit" value="Save"
                           class="btn btn-primary btn-primary-sm">
                </form>
            </div>
        </div>

    </div>

{% endblock content %}
</body>