{% extends 'base/base.html' %}
{% load static %}

{% block title %} Expenses {% endblock %}

{% block content %}

    <div class="container-main">

        {% include 'base/sidebar.html' %}
    
        <!-- ***** Breadcrumb Start ***** -->
        <div class="container-breadcrumb-bar">
            <nav aria-label="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="{% url 'expenses' %}">Expenses</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Edit Expense
                    </li>
                </ol>
            </nav>
        </div>
        <!-- ***** Breadcrumb End ***** -->

        <div class="edit-expense-form">
            <div class="edit-form-body" id="editExpenseForm">
                <h4>Edit Expense</h4>
                <form action="{% url 'edit-expense' expense.id %}"
                      method="post">
                    {% include 'user/_messages.html' %} {% csrf_token %}

                    <div class="form-group">
                        <label for="">Item</label>
                        <input type="text" class="form-control form-control-sm"
                               name="item" value="{{ values.item }}">
                    </div>
                    <div class="form-group">
                        <label for="">Category</label>
                        <select class="form-control" name="category">
                            <option selected name="category"
                                    value="{{ values.category }}">
                                {{ values.category }}</option>
                            {% for category in categories %}
                                <option name="category"
                                        value="{{ category.name }}">
                                    {{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <input type="text" class="form-control form-control-sm"
                               name="description" value="{{ values.description }}">
                    </div>
                    <div class="form-group">
                        <label for="" style="color:black;">Cost</label>
                        <input type="number"
                               class="form-control form-control-sm"
                               name="cost" value="{{ values.cost }}">
                    </div>
                    <div class="form-group">
                        <label for="" style="color:black;">Qty</label>
                        <input type="number"
                               class="form-control form-control-sm"
                               name="qty" value="{{ values.qty }}">
                    </div>
                    <div class="form-group">
                        <label for="" style="color:black;">Amount</label>
                        <input type="number"
                               class="form-control form-control-sm"
                               name="amount" value="{{ values.amount }}">
                    </div>
                    <div class="form-group">
                        <label for="" style="color:black;">Date of
                            Expense</label>
                        <input id="date" type="date" class="form-control form-control-sm"
                               name="expense_date" value="{{ values.date }}">
                    </div>
                    <input type="submit" value="Save"
                           class="btn btn-primary btn-primary-sm">
                </form>
            </div>
        </div>

    </div>

{% endblock content %}