{% extends 'base/base.html' %}
{% load static %}

{% block title %} Expenses Summary Charts {% endblock %}

{% block content %}

    {% include 'base/sidebar.html' %}

    <h3 style="margin-left: 220px;padding-top: 20px;color:darkred;">
        EXPENSES SUMMARY</h3>

    <div class="container-summary mt-4">
        <div class="row">
            <div class="col-md-10">
                <nav class="container-breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a
                                href="">Expenses Summary</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Summary
                        </li>
                    </ol>
                </nav>
            </div>

            <div class="col-md-2">
                <a href="" class="btn btn-primary">BACK</a>
            </div>
        </div>

        {# ADD CHARTS #}
        <div class="chartBox">
{#            <div class="row mt-2">#}
                <div class="box col-md-4 mt-2">
{#                    <h4>Expenses Chart</h4>#}
                    <canvas id="expensesCategoryChart" width="400"
                            height="400"></canvas>
                </div>
                <div class="box col-md-4 mt-2">
{#                    <h4>Expenses Chart</h4>#}
                    <canvas id="cmChart" width="400"
                            height="400"></canvas>
                </div>
{#            </div>#}
        </div>

    </div>


    <!-- Scripts -->
    <script src="{% static 'assets/js/statsExpenses.js' %}"></script>
    <script src="{% static 'assets/js/lineExpenses.js' %}"></script>

{% endblock content %}
