{% extends 'base/base.html' %}
{% load static %}

{% block title %} Add Project Stage {% endblock %}

{% block content %}

    <div class="container-main">

        {% include 'base/sidebar_pj.html' %}

        <!-- ***** Breadcrumb Start ***** -->
        <div class="container-breadcrumb-bar">
            <nav aria-label="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="{% url 'project-stages' %}">Project Stages</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Add Project Stage
                    </li>
                </ol>
            </nav>
        </div>
        <!-- ***** Breadcrumb End ***** -->

        <div class="add-project-stage-form">
            <div class="add-form-body" id="addProjectStageForm">
                <h4>Add Project Stage Form</h4>
                <form action="{% url 'add-project-stage' %}" method="post">
                    {% include 'authentication/_messages.html' %} {% csrf_token %}

                    <div class="form-group">
                        <!-- Render each field individually -->
                        {% for field in form_stage %}
                            {% if field.name == 'project_name' %}
                                <div class="inline-fields project-name">
                                    <label for="projectName">Project Name</label>
                                    <div class="input-group">
                                        <select name="project_name" id="projectName" class="form-control project-name">
                                            {% for project_name in form_stage.fields.project_name.queryset %}
                                                <option value="{{ project_name.id }}">{{ project_name.project_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% elif field.name == 'project_stage' %}
                                <div class="inline-fields project-stage-name">
                                    <label for="projectStageName">Project Stage</label>
                                    <div class="input-group">
                                        <input type="text" name="project_stage" id="projectStageName"
                                               class="form-control project-stage-name-input"
                                               value="{% if field.value %}{{ field.value }}{% endif %}">
                                    </div>
                                </div>
                            {% elif field.name == 'budget' %}
                                <div class="inline-fields budget-forecast">
                                    <label for="budgetForecast">Budget Forecast</label>
                                    <div class="input-group">
                                        <input type="text" name="budget" id="budgetForecast"
                                               class="form-control budget-input"
                                               value="{{ field.value|default:'0.00' }}">
                                    </div>
                                </div>
                            {% elif field.name == 'reimbursed_amount' %}
                                <div class="inline-fields reimbursed-amount">
                                    <label for="reimbursedAmount">Reimbursed Amount</label>
                                    <div class="input-group">
                                        <input type="text" name="reimbursed_amount" id="reimbursedAmount"
                                               class="form-control budget-input"
                                               value="{{ field.value|default:'0.00' }}">
                                    </div>
                                </div>
                            {% elif field.name == 'start_date' %}
                                <div class="inline-fields project-date">
                                    <label for="startDate">Start Date</label>
                                    <div class="input-group">
                                        <input type="date" name="start_date" id="startDate"
                                               class="form-control" data-date-format="mm/dd/yyyy">
                                    </div>
                                </div>
                            {% elif field.name == 'end_date' %}
                                <div class="inline-fields project-date">
                                    <label for="endDate">End Date</label>
                                    <div class="input-group">
                                        <input type="date" name="end_date" id="endDate"
                                               class="form-control" data-date-format="mm/dd/yyyy">
                                    </div>
                                </div>
                            {% else %}
                                <div>
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endif %}
                            <!-- Render field errors if any -->
                            {% for error in field.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        {% endfor %}

                        <div class="update-button-field">
                            <a href="{% url 'project-stages' %}" class="btn btn-cancel btn-outline-secondary">Cancel</a>
                            <input type="submit" value="Submit"
                                   class="btn btn-primary btn-primary-sm">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="{% static 'assets/js/budgetValue.js' %}"></script>


{% endblock content %}