{% extends 'base/base.html' %}
{% load static %}

{% block title %} Project Stages {% endblock %}

{% block content %}

    <div class="container-main">

        {% include 'base/sidebar_pj.html' %}

        <!-- ***** Breadcrumb Start ***** -->
        <div class="container-breadcrumb-bar">
            <nav aria-label="breadcrumb-nav">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a
                            href="{% url 'projects' %}">Project</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Project Stages
                    </li>
                </ol>
            </nav>
        </div>
        <!-- ***** Breadcrumb End ***** -->

        <div class="container-tables">
            <!-- ***** Back to the Dashboard ***** -->
            <div class="breadcrumb-event-back">
                <a href="{% url 'project-budget' %}" class="btn btn-secondary">
                    <i class="fa fa-angle-left home-icon"></i>
                    <span>Back to Dashboard</span></a>
            </div>
            <!-- ***** Export Files in the CSV, Excel and PDF format ***** -->
                        <div id="exportFile">
                            <a href="{% url 'export-project-stages-csv' %}" class="btn">
                                <img src="{% static 'assets/img/csv-icon.png' %}" width="55" height="55" alt="CSV Icon"/>
                            </a>
                            <a href="{% url 'export-project-stages-excel' %}" class="btn">
                                <img src="{% static 'assets/img/excel-icon.png' %}" width="45" height="45" alt="Excel Icon"/>
                            </a>
                            <a href="{% url 'export-project-stages-pdf' %}" class="btn">
                                <img src="{% static 'assets/img/pdf-icon.png' %}" width="45" height="45" alt="Pdf Icon"/>
                            </a>
                        </div>
            <!-- ***** Search into the fields ***** -->
            <div id="searchTableField">
                <div class="form-group">
                    <i class="bx bx-search"></i>
                    <input type="text" class="form-control"
                           id="searchField" placeholder="Search...">
                </div>
            </div>

            <!-- ***** Expenses data Table ***** -->
            <div id="dataTable">
                {% include 'authentication/_messages.html' %} {% csrf_token %}

                <div class="breadcrumb-event-add">
                    <a href="{% url 'add-project-stage' %}" class="btn">
                        <i class="bx bxs-plus-circle add-icon"></i>
                        Add Project Stage
                    </a>
                </div>

                <div class="app-table">
                    <table id="projectTable" class="table table-stripped table-hover">
                        <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Project Stage</th>
                            <th>Budget<br>({{ currency }})</th>
                            <th>Reimbursed Amount<br>({{ currency }})</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <div id="deleteConfirmationModal" class="modal">
                            <div class="modal-content">
                                <span class="close" onclick="closeModal()">&times;</span>
                                <p>Delete Project Stage</p>
                                <hr>
                                <p>Are you sure you want to delete this Record?</p>
                                <p>This action cannot pe undone.</p>
                                <div class="modal-button">
                                    <button id="cancelDeleteBtn" onclick="closeModal()">Cancel</button>
                                    <button id="confirmDeleteBtn" onclick="deleteProjectStage()">Delete</button>
                                </div>
                            </div>
                        </div>
                        {# if user has some projects, then display their projects stages #}
                        {% if project_stages.count %}
                            {% for project_stage in page_obj %}
                                <tr {% if project_stage.end_date < today %} class="expired-project-stage" {% endif %}>
                                    <td>{{ project_stage.project_name.project_name }}</td>
                                    <td>{{ project_stage.project_stage }}</td>
                                    <td>{{ project_stage.budget|floatformat:"2" }}</td>
                                    <td>{{ project_stage.reimbursed_amount|floatformat:"2" }}</td>
                                    <td class="start-date">{{ project_stage.start_date|date:'m/d/Y' }}</td>
                                    <td class="end-date">{{ project_stage.end_date|date:'m/d/Y' }}</td>
                                    <td>
                                        <a href="{% url 'edit-project-stage' project_stage.id %}"
                                           style="color:gray; font-size:20px">
                                            <i class="fas fa-edit edit-input"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <!-- Delete button which will open the modal window for delete confirmation -->
                                        <button onclick="confirmDelete({{ project_stage.id }})"
                                                style="color:red; font-size:20px; background: none; border: none;">
                                            <i class="fas fa-trash-alt delete-input"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                            </div>

                            <p class="no-results" style="display: none;">No results </p>
                            <div class="table-output">
                            <table class="table table-stripped table-hover">
                            <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Project Stage</th>
                                <th>Budget<br>({{ currency }})</th>
                                <th>Reimbursed Amount<br>({{ currency }})</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="table-body">
                            </tbody>
                        {% endif %}
                        </table>
                        </div>

                <!-- ***** Returns a number of our current page ***** -->
                <div class="pagination-container">
                    <div class="show-page">
                        Showing page {{ page_obj.number }}
                        of {{ page_obj.paginator.num_pages }}
                    </div>
                    <!-- ***** Shows the pagination ***** -->
                    <ul class="show-pagination pagination align-right float-right mr-auto">
                        {% if page_obj.has_previous %}
                            <li {% if page_obj.number == 1 %}
                                class="page-item active" {% endif %}><a
                                    class="page-link" href="?page=1">&laquo; 1</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}
                                &raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="color-explanation">
{#                    <div class="color-circle ongoing-project-stage"></div>#}
{#                    <span>Ongoing Project Stage</span>#}
                    <div class="color-circle ending-soon-project-stage"></div>
                    <span>Project Stage Ending Soon</span>
                    <div class="color-circle expired-project-stage"></div>
                    <span>Expired Project Stage </span>
                </div>

            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="{% static 'assets/js/searchField.js' %}"></script>
    <script src="{% static 'assets/js/deleteProjectStage.js' %}"></script>
    
    <script>
        window.addEventListener("DOMContentLoaded", function () {
            const today = new Date("{{ today|date:'m/d/Y' }}");
            today.setHours(0, 0, 0, 0);
            
            const table = document.getElementById('projectTable');
            
            const rows = document.querySelectorAll('#projectTable > tbody > tr');
            rows.forEach(row => {
                const startDateCell = row.querySelector('.start-date');
                const endDateCell = row.querySelector('.end-date');

                const startDate = new Date(startDateCell.textContent);
                const endDate = new Date(endDateCell.textContent);

                if (isNaN(startDate.getTime()) || isNaN(endDate.getTime())) {
                    return; 
                }
                const monthsDiffEnd = (endDate.getFullYear() - today.getFullYear()) * 12 + (endDate.getMonth() - today.getMonth());
                const monthsDiffStart = (startDate.getFullYear() - today.getFullYear()) * 12 + (startDate.getMonth() - today.getMonth());
                
                const daysInMonth = new Date(today.getFullYear(), today.getMonth() + 1, 0).getDate();
                const remainingDays = daysInMonth - today.getDate();
                
                if (endDate < today) {
                    row.classList.add('expired-project-stage');
                } else if (monthsDiffEnd === 0 && remainingDays <= 30) {
                        {#row.classList.remove('ongoing-project-stage'); #}
                        row.classList.add('ending-soon-project-stage'); 
                    } else if (monthsDiffEnd === 0 && remainingDays <= 30 && !(startDate <= today)) {
                    row.classList.add('ending-soon-project-stage');
                }
            });
        });
    </script>


{% endblock content %}