{% extends 'base/base.html' %}
{% load static %}

{% block title %} Login into the website {% endblock %}


{% block content %}

    <div class="wrapper">
        <form action="">
            <h1>Login</h1>
{#            <div class="img container">#}
{#                <img src="/static/assets/img/avatar.png" alt="avatar"#}
{#                     class="avatar">#}
{#            </div>#}

            <div class="input-box">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username"
                       required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw"
                       required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot password?</a>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Don't have an account?<a href="#">Signup</a></p>
            </div>

{#            <div class="container" style="background-color:#f1f1f1">#}
{#                <button type="button" class="cancel btn">Cancel</button>#}
{#                <span class="psw">Forgot <a href="#">password?</a></span>#}
{#            </div>#}
        </form>
    </div>


{% endblock %}