{% extends 'base/base.html' %}

{% block title %} Login into the website {% endblock %}


{% block content %}

    <form action="action_page.php" method="post">
        <div class="img container">
            <img src="/static/assets/img/avatar.png" alt="avatar"
                 class="avatar">
        </div>

        <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username"
                   required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw"
                   required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember">
                Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancel btn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>


{% endblock %}