{% extends 'base/base.html' %}
{% load static %}

{% block title %} Create a new entry {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center pt-2">Sign Up</h3>
            </div>

            <!-- Form -->
            <form class="card-form" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
                {% include 'user/_messages.html' %} {% csrf_token %}

                <div class="card-body">
                    {{ user_form.as_p }}
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-outline-success">Submit
                    </button>

                    <a href="{% url 'home' %}" class="btn btn-cancel btn-outline-secondary"
                       style="color: white">Cancel</a>
                </div>
            </form>
            <p style="text-align: center">By clicking the Sign Up button, you agree to our <br>
                <a href="">Terms and Conditions</a> and <a href="">Policy
                    Privacy</a>
            </p>
            <p style="text-align: center">Already have an account?<a href="{% url 'login' %}"> Login here</a></p>
        </div>
    </div>

{% endblock %}