{% extends 'base/base.html' %}
{% load static %}

{% block title %} Create a new entry {% endblock %}


{% block content %}

    <div class="container-fluid">
        <div class="row mt-2 mb-2">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center pt-2">Signup Form</h3>
                    </div>

                    <!--Form-->
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a href="#" class="btn btn-outline-secondary">Cancel</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}